{{ header }}
<div id="information-contact" class="container page">
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h1 class="section__title">{{ heading_title }}</h1>
			<div class="row">
				<div class="col-md-6 contact-col-form">
					<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
						<fieldset>
							<p><b>{{ text_contact }}</b></p>
							<div class="form-group required">
								<label class="control-label" for="input-name">{{ entry_name }}</label>
								<div class="">
									<input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
									{% if error_name %}
										<div class="text-danger">{{ error_name }}</div>
									{% endif %}
								</div>
							</div>
							<div class="form-group required">
								<label class="control-label" for="input-email">{{ entry_email }}</label>
								<div class="">
									<input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />
									{% if error_email %}
										<div class="text-danger">{{ error_email }}</div>
									{% endif %}
								</div>
							</div>
							<div class="form-group required">
								<label class="control-label" for="input-enquiry">{{ entry_enquiry }}</label>
								<div class="">
									<textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
									{% if error_enquiry %}
										<div class="text-danger">{{ error_enquiry }}</div>
									{% endif %}
								</div>
							</div>
							{{ captcha }}
						</fieldset>
						<div class="buttons">
							<input class="btn btn-primary" type="submit" value="{{ button_submit }}" />
						</div>
					</form>
				</div>

				<div class="col-md-6">
					<p>
						<strong>{{ text_location }}</strong>
						<br>
						{{ text_office_address }}
					</p>
					<p>
						<strong>{{ text_telephone }}</strong>
						<br>
						{{ telephone }}
					</p>
					<p>
						<strong>{{ text_email }}</strong>
						<br>
						{{ email }}
					</p>
					<p class="mt-5">
						<a href="{{ map }}" class="link link--black link--black-border">{{ text_map }}</a>
					</p>
				</div>
			</div>

			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}
