{{ header }}
<div class="conteiner_full">
    {{ content_fulltop }}
    <div id="information-information" class="container">
        <div id="content">
            {{ content_top }}
            <div class="information__content">
                <div class="container">
                    <h1 class="section__title information__title">{{ heading_title }}</h1>
                    <div class="information__text">
                        {{ description }}
                    </div>
                </div>
            </div>
            {{ content_bottom }}
        </div>
    </div>
    {{ content_fullbottom }}
</div>
{{ footer }}