{{ header }}
<div id="information-instruction" class="container">
	<div id="content">
		{{ content_top }}
		<div class="information__content">
			<div class="container">
				<h1 class="section__title information__title">{{ heading_title }}</h1>
				<div class="instruction d-flex flex-row justify-content-between align-items-start flex-wrap">
					<div class="instruction-item instruction-item--choose">
						<div class="instruction-item__icon"></div>
						<div class="instruction-item__title"><span>1,</span> {{ text_instruction_choose }}</div>
					</div>
					<div class="instruction-item instruction-item--cart">
						<div class="instruction-item__icon"></div>
						<div class="instruction-item__title"><span>2,</span> {{ text_instruction_cart }}</div>
					</div>
					<div class="instruction-item instruction-item--checkout">
						<div class="instruction-item__icon"></div>
						<div class="instruction-item__title"><span>3,</span> {{ text_instruction_checkout }}</div>
					</div>
				</div>
			</div>
		</div>
		{{ content_bottom }}
	</div>
</div>
{{ footer }}