{{ header }}
<div id="information-map" class=" page">
	<div id="content" class="{{ class }}">
		{{ content_top }}
		<div class="information__content">
			<div class="container">
				<h1 class="section__title">{{ heading_title }}</h1>
				<div class="map-search-block d-flex flex-row justify-content-between align-items-center">
					<div class="map-search-block__title">{{ text_near }}</div>
					<input type="text" class="form-control form-control--search map-search-block__input" placeholder="{{ text_search }}">
					<div class="map-menu d-block d-md-none"></div>
				</div>
				<div class="map d-flex flex-row justify-content-between">
					<div id="map"></div>
					<div class="map-menu">
						<h3 class="text-center font-weight-bold d-block d-md-none">{{ text_near }}</h3>
						<div class="map-menu__title">{{ heading_map_menu }}</div>
					</div>
				</div>
			</div>
		</div>
		{{ content_bottom }}
	</div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=518a6ca9-79c6-4d98-9920-4d2ae471ea5b&lang=ru_RU" type="text/javascript"></script>

<script type="text/javascript">
	var menu_items = [
		{
			center: [43.225603, 76.898896],
			type: "улица",
			address: "Айманова, 226",
            phone: "274-89-41",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.235488, 76.908661],
			type: "улица",
			address: "Манаса 53а",
            phone: "245-33-52",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.233288, 76.877606],
			type: "улица",
			address: "Сатпаева 90/1",
            phone: "8 708 970 14 74",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.264729, 76.960656],
			type: "улица",
			address: "Макатаева 28/1",
            phone: "397-56-42",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.253383, 76.919594],
			type: "улица",
			address: "Толе би, 125",
            phone: "233-58-76",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.244315, 76.945501],
			type: "улица",
			address: "Курмангазы 54",
            phone: "339 08 10",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.252326, 76.954844],
			type: "улица",
			address: "Карасай батыра 25",
            phone: "291-17-22",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.234404, 76.951538],
			type: "улица",
			address: "Самал 1-й мкр. 33",
            phone: "262-40-07",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.248912, 76.951331],
			type: "улица",
			address: "Кунаева 130",
            phone: "339 08 10",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.223448, 76.963054],
			type: "улица",
			address: "Достык 248",
            phone: "387-28-35",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.196803, 76.887129],
			type: "улица",
			address: "Орбита 2-й мкр. 6",
            phone: "8 708 970 14 00",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.216801, 76.880312],
			type: "улица",
			address: "Навои 37",
            phone: "8 708 970 13 99",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		},
		{
			center: [43.257879, 76.918990],
			type: "улица",
			address: "Гоголя 140",
            phone: "8 708 973 25 81",
			name: "Кондитерский дом \"Бисквит\"",
			open: {
				from: {
					h: "10",
					m: "00"
				},
				to: {
					h: "21",
					m: "00"
				}
			}
		}
	];

	var collection, myMap, menu, ZoomLayout, zoomControl, BalloonLayout, BalloonContentLayout, routeControl;

	var balloonSvgBg = '<svg \n' +
		' xmlns="http://www.w3.org/2000/svg"\n' +
		' xmlns:xlink="http://www.w3.org/1999/xlink"\n' +
		' width="439px" height="359px">\n' +
		'<defs>\n' +
		'<filter filterUnits="userSpaceOnUse" id="Filter_0" x="0px" y="0px" width="439px" height="359px"  >\n' +
		'    <feOffset in="SourceAlpha" dx="6.018" dy="7.986" />\n' +
		'    <feGaussianBlur result="blurOut" stdDeviation="6.164" />\n' +
		'    <feFlood flood-color="rgb(61, 60, 58)" result="floodOut" />\n' +
		'    <feComposite operator="atop" in="floodOut" in2="blurOut" />\n' +
		'    <feComponentTransfer><feFuncA type="linear" slope="0.35"/></feComponentTransfer>\n' +
		'    <feMerge>\n' +
		'    <feMergeNode/>\n' +
		'    <feMergeNode in="SourceGraphic"/>\n' +
		'  </feMerge>\n' +
		'</filter>\n' +
		'\n' +
		'</defs>\n' +
		'<g filter="url(#Filter_0)">\n' +
		'<path fill-rule="evenodd"  fill="rgb(255, 255, 255)"\n' +
		' d="M53.000,31.000 L373.000,31.000 C384.046,31.000 393.000,39.954 393.000,51.000 L393.000,311.000 C393.000,311.000 368.158,291.000 332.771,291.000 C245.185,291.000 53.000,291.000 53.000,291.000 C41.954,291.000 33.000,282.046 33.000,271.000 L33.000,51.000 C33.000,39.954 41.954,31.000 53.000,31.000 Z"/>\n' +
		'</g>\n' +
		'</svg>';

	ymaps.ready(init);

	function createMenu (item) {
		var work_hours_from = parseInt(item.open.from.h);
		var work_hours_to   = parseInt(item.open.to.h);

		var current_hours = parseInt('{{ now.h }}');
		var status = false;

		if(current_hours >= work_hours_from && current_hours < work_hours_to)
			status = true;

		var submenuItem = $('<li data-address="' + item.address + '"><a href="#" class="link link--black">' + item.address + '</a></li>'),
			placemark = new ymaps.Placemark(item.center, {
				balloonContentHeader: item.name,
				balloonContent: "<p>Адрес: <span>"
								+ item.type
								+ " " + item.address + "</span></p>"
                                + "<p>Телефон: <span>"
								+ item.phone + "</span></p>"
								+ "<p>Открыто до: <span>" + item.open.to.h  + ":" + item.open.to.m+ "</span></p>"
								+ "<p class='" + (status ? "text-open" : "text-close") + "'>" + (status ? "Сейчас открыто" : "Сейчас закрыто") + "</p>",
				balloonContentFooter: "<p class='map-route' onclick='showRoute(" + item.center[0] + ", " + item.center[1] + ")'>Построить маршрут</p>",
			}, {
				iconLayout: 'default#image',
				iconImageHref: '/catalog/view/theme/biscuit/image/icons/map-pointer-icon.png',
				iconImageSize: [32, 48],
				iconImageOffset: [-16, -48],
				balloonLayout: BalloonLayout,
				balloonContentLayout: BalloonContentLayout,
				hideIconOnBalloonOpen: true,
				balloonAutoPan: true,
			});

		collection.add(placemark);
		submenuItem
			.appendTo(menu)
			.find('a')
			.bind('click', function () {
				placemark.balloon.open();
				return false;
			});
	}
	
	function showRoute(x, y) {
		routeControl.routePanel.state.set({
			toEnabled: false,
			to: [x, y]
		});

		setTimeout(function () {
			$('.ymaps-2-1-75-controls__control_toolbar').addClass('ymaps-2-1-75-controls__control_toolbar--show');
			routeControl.routePanel.geolocate('from');
		}, 300);
	}

	function init() {
		myMap = new ymaps.Map('map', {
			center: [43.232658, 76.927313],
			zoom: 12,
			controls: ['routePanelControl']
		}, {
			suppressMapOpenBlock: true
		});

		createZoomLayout();
		createBalloonLayout();
		createRoute();

		menu = $('<ol class="map-menu-list"></ol>');
		collection = new ymaps.GeoObjectCollection();

		for (var i = 0, l = menu_items.length; i < l; i++) {
			createMenu(menu_items[i]);
		}

		menu.appendTo($('.map-menu'));
		myMap.geoObjects.add(collection);
		myMap.controls.add(zoomControl, {
			float: 'none',
			position: {
				bottom: 15,
				left: 15
			}
		});
	}

	function createZoomLayout() {
		ZoomLayout = ymaps.templateLayoutFactory.createClass("<div>" +
			"<div class='btn btn-map-zoom btn-map-zoom--in' id='btn-map-zoom-in'></div><br>" +
			"<div class='btn btn-map-zoom btn-map-zoom--out' id='btn-map-zoom-out'></div>" +
			"</div>", {

			build: function () {
				ZoomLayout.superclass.build.call(this);

				this.zoomInCallback = ymaps.util.bind(this.zoomIn, this);
				this.zoomOutCallback = ymaps.util.bind(this.zoomOut, this);

				$('#btn-map-zoom-in').bind('click', this.zoomInCallback);
				$('#btn-map-zoom-out').bind('click', this.zoomOutCallback);
			},

			clear: function () {
				$('#btn-map-zoom-in').unbind('click', this.zoomInCallback);
				$('#btn-map-zoom-out').unbind('click', this.zoomOutCallback);

				ZoomLayout.superclass.clear.call(this);
			},

			zoomIn: function () {
				var map = this.getData().control.getMap();
				map.setZoom(map.getZoom() + 1, {
					checkZoomRange: true,
					duration: 200
				});
			},

			zoomOut: function () {
				var map = this.getData().control.getMap();
				map.setZoom(map.getZoom() - 1, {
					checkZoomRange: true,
					duration: 200
				});
			}
		});
		zoomControl = new ymaps.control.ZoomControl({options: {layout: ZoomLayout}});
	}

	function createBalloonLayout() {
		BalloonLayout = ymaps.templateLayoutFactory.createClass(
			'<div class="map-balloon">' +
			'<a class="map-balloon__close-btn" href="#">&times;</a>' +
			'<div class="map-balloon__arrow"></div><div>' +
				'$[[options.contentLayout]]' +
			'</div>' +
			balloonSvgBg +
			'</div>', {

				build: function () {
					this.constructor.superclass.build.call(this);

					this._$element = $('.map-balloon', this.getParentElement());

					this.applyElementOffset();

					this._$element.find('.map-balloon__close-btn, .map-route')
						.on('click', $.proxy(this.onCloseClick, this));
				},

				clear: function () {
					this._$element.find('.map-balloon__close-btn')
						.off('click');

					this.constructor.superclass.clear.call(this);
				},

				onSublayoutSizeChange: function () {
					BalloonLayout.superclass.onSublayoutSizeChange.apply(this, arguments);

					if(!this._isElement(this._$element)) {
						return;
					}

					this.applyElementOffset();

					this.events.fire('shapechange');
				},

				applyElementOffset: function () {
					this._$element.css({
						left: -this._$element[0].offsetWidth,
						top: -(this._$element[0].offsetHeight + this._$element.find('.map-balloon__arrow')[0].offsetHeight)
					});
				},

				onCloseClick: function (e) {
					e.preventDefault();

					this.events.fire('userclose');
				},

				getShape: function () {
					if(!this._isElement(this._$element)) {
						return BalloonLayout.superclass.getShape.call(this);
					}

					var position = this._$element.position();

					return new ymaps.shape.Rectangle(new ymaps.geometry.pixel.Rectangle([
						[position.left, position.top], [
							position.left + this._$element[0].offsetWidth,
							position.top + this._$element[0].offsetHeight + this._$element.find('.map-balloon__arrow')[0].offsetHeight
						]
					]));
				},

				_isElement: function (element) {
					return element && element[0] && element.find('.map-balloon__arrow')[0];
				}
			});

			BalloonContentLayout = ymaps.templateLayoutFactory.createClass(
				'<div class="map-balloon__header">$[properties.balloonContentHeader]</div>' +
				'<div class="map-balloon__content">$[properties.balloonContent]</div>' +
				'<div class="map-balloon__footer">$[properties.balloonContentFooter]</div>'
			);
	}

	function createRoute() {
		routeControl = myMap.controls.get('routePanelControl');


		routeControl.options.set({
			autofocus: false,
		});

		routeControl.routePanel.state.set({
			type: 'masstransit',
			expanded: false
		});

		var closeButton = new ymaps.control.Button({
			data: {content: "Отменить", address: "Отменить"},
			options: {selectOnClick: false, maxWidth: 160}
		});

		closeButton.events.add('click', function () {
			$('.ymaps-2-1-75-controls__control_toolbar').removeClass('ymaps-2-1-75-controls__control_toolbar--show');

			routeControl.routePanel.state.set({
				to: "",
				from: ""
			});

			myMap.geoObjects.remove(routeControl);
		});
		myMap.controls.add(closeButton);

		routeControl.routePanel.options.set({
			allowSwitch: false,
			reverseGeocoding: true,
			types: {
				auto: true,
				masstransit: true,
				pedestrian: true,
				bicycle: true,
				taxi: true
			}
		});
	}

	$('.map-search-block__input').on('keyup', function () {
		var input = $(this),
			value = input.val().trim().toLowerCase(),
			regexp = new RegExp(value);

		var items = $('.map-menu-list li');

		if(value !== ""){
			items.each(function (index, object) {
				object = $(object);
				var address = object.data('address').toLowerCase();

				if(regexp.test(address))
					object.show();
				else
					object.hide();
			});
		}else
			items.show();
	});

	$('.map-search-block__input').on('focus', function () {
		$(this)
			.closest('.map-search-block')
			.find('.map-menu')
			.addClass('map-menu--show');
	});

	$('.map-search-block__input').on('blur', function () {
		var input = $(this);
		setTimeout(function () {
			input
				.closest('.map-search-block')
				.find('.map-menu')
				.removeClass('map-menu--show');
		}, 200);
	});
</script>
{{ footer }}