{{ header }}
<div id="information-payment">
	<div id="content" class="{{ class }}">
		{{ content_top }}
		<div class="information__content">
			<div class="container">
				<h1 class="section__title information__title">{{ heading_title }}</h1>
				<div class="payment-item payment-item--cash">
					<div class="payment-item__title">{{ heading_payment_cash }}</div>
					<div class="payment-item__text">{{ text_payment_cash }}</div>
				</div>
				<div class="payment-item payment-item--courier">
					<div class="payment-item__title">{{ heading_payment_courier }}</div>
					<div class="payment-item__text">{{ text_payment_courier }}</div>
				</div>
				<div class="payment-item payment-item--online">
					<div class="payment-item__title">{{ heading_payment_online }}</div>
					<div class="payment-item__text">{{ text_payment_online }}</div>
				</div>
			</div>
		</div>
		{{ content_bottom }}
	</div>
</div>
{{ footer }}