{{ header }}
<div class="container page page--account">
	<div class="row">
		<div class="col-sm-12">
			<div class="well justify-content-center">
				<h2>{{ heading_title }} <span class="badge badge-secondary">iPhone 11 Pro</span></h2>	
				<p></p>
			</div>
		</div>
	</div>
	<hr />
    {% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
	{% endif %}
    {% if (error_warning is empty) and (send == true)%}
        <div class="alert alert-success" role="alert">
          <h2 class="alert-heading">{{ accept_registration }}</h2>
          <p class="h4">
              {{ accept_registration_n }} 
                <span class="badge badge-primary">{{ number_action }}</span>
          </p>
          <hr>
          <p class="mb-0">{{ accept_registration_d }}</p>
        </div>
        <a href="/index.php?route=extension/module/biscuit_prizes" class="btn btn-outline-primary" role="button">{{ new_reg }}</a>
    {% else %}
	   <div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
		{% if module_biscuit_prizes_status %}
			<form action="{{ action }}" method="post" id="frm-reg">
				<div class="form-row">
				    <div class="col-md-4 mb-3">
				      <label for="fname">{{ text_fname }}</label>
				      <input type="text" class="form-control" id="fname" name="fname" placeholder="{{ text_fname }}" required 
                        {% if fname %}
                             value="{{ fname }}"
                        {% endif %}
                             >
				    </div>
				    <div class="col-md-4 mb-3">
				      	<label for="lname">{{ text_lname }}</label>
				      	<input type="text" class="form-control" id="lname" name="lname" placeholder="{{ text_lname }}" required
                        {% if lname %}
                             value="{{ lname }}"
                        {% endif %}>
				    </div>
				    <div class="col-md-4 mb-3">
				      <label for="instagram">{{ text_instagram }}</label>
				      <div class="input-group">
				        <div class="input-group-prepend">
				          <span class="input-group-text" id="inputGroupPrepend">@</span>
				        </div>
				        <input type="text" class="form-control" id="instagram" name="instagram" placeholder="biscuit.qaz" aria-describedby="inputGroupPrepend" required
                        {% if instagram %}
                             value="{{ instagram }}"
                        {% endif %}>
				        <div class="text-success" style="font-size: 12px;">
				          {{ text_instagram_decr }}
				        </div>
				      </div>
				    </div>
				</div>
				<div class="form-row">
					<div class="col-md-4 mb-3">
					    <label for="email">{{ text_email }}</label>
					    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="account@example.com" required email
                        {% if email %}
                             value="{{ email }}"
                        {% endif %}>					  
					</div>
				    <div class="col-md-4 mb-3">
					    <label for="phone">{{ text_phone }}</label>
						<input class="form-control" type="tel" placeholder="+77075555555" id="phone" name="phone" required
                        {% if phone %}
                             value="{{ phone }}"
                        {% endif %}>					
					</div>
					<div class="col-md-4 mb-3">
				      	<label for="code">{{ text_code }}</label>
					  	<input type="text" class="form-control {{ error_action_code }}" id="action_code" name="action_code" placeholder="{{ text_enter_code }}" required
                        {% if action_code %}
                             value="{{ action_code }}"
                        {% endif %}>
					  	<div class="text-success" style="font-size: 12px;">
				        	{{ text_code_descr }}
				      	</div>
				    </div>
				</div>
                <div class="form-row">
                    <div class="pull-right text-dark" style="font-size: 15px;">{{ text_agree }}
                        {% if agree %}
                            <input type="checkbox" name="agree" value="1" checked="checked"  required/>
                        {% else %}
                            <input type="checkbox" name="agree" value="1" required/>
                        {% endif %}
				    </div>
                </div>
                <div class="form-row">
                    <input type="submit" value="{{ text_send }}" class="btn btn-primary" />
                </div>
			</form>
		{% else %}
			{{ text_error }}
		{% endif %}
		</div>
	</div>
    {% endif %}
    <hr />
    <div class="row">
		<div class="col-sm-12">
			<div class="well justify-content-center">
				<h2> Проверка номера по электронной почте!</h2>	
				<p></p>
			</div>
		</div>
	</div>
    <hr />
    {% if error_warning_ch %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning_ch }}</div>
	{% endif %}
    {% if (error_warning_ch is empty) and (send_ch == true)%}
        <div class="alert alert-success" role="alert">
          <h2 class="alert-heading">{{ accept_registration }}</h2>
          <p class="h4">
              {{ accept_check_n }} 
                <span class="badge badge-primary">{{ number_action }}</span>
          </p>
          <hr>
          <p class="mb-0">{{ accept_registration_d }}</p>
        </div>
        <a href="/index.php?route=extension/module/biscuit_prizes" class="btn btn-outline-primary" role="button">{{ new_check }}</a>
    {% else %}
    <div class="row">
		<div id="content" class="{{ class }}">
		{% if module_biscuit_prizes_status %}
			<form action="{{ action_ch }}" method="post" id="frm-ch">
				<div class="form-row">
                    <label for="emailcheck" class="col-form-label">{{ text_email }}</label>
					<div class="col-md-4 mb-3"> 
					    <input type="email" class="form-control" id="emailcheck" name="emailcheck" aria-describedby="emailHelp" placeholder="account@example.com" required email
                        {% if emailcheck %}
                             value="{{ emailcheck }}"
                        {% endif %}>					  
					</div>
                    <div class="col-md-4 mb-3">
                        <input type="submit" value="{{ text_send }}" class="btn btn-primary" />			
					</div>
				</div>
			  	
			</form>
		{% else %}
			{{ text_error }}
		{% endif %}
		</div>
	</div>
    {% endif %}
</div>
<script>
    $(document).ready(function(){
        $("#frm-reg").validate();
        $("#frm-ch").validate();
    });
</script>
<script src="/catalog/view/javascript/validation/jquery.validation.js"></script>
<script src="/catalog/view/javascript/validation/messages_ru.js"></script>
{{ footer }}
