{% if type %}
    {% if type == 1 %}
        {% if banners|length > 0 %}
            <div style="width:100%;background:{{ b_color }};margin-top:-40px;">
                  <div class="container">
                        {% if title %}
                        <p style="padding-top: 20px; font-family: 'Gotham Pro';font-weight: bold;font-size: 200%;color: #fff;text-align: center;text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;">
                            {{ title }}
                        </p>
                        {% endif %}
                  <div class="row"> 
                    {% for banner in banners %}
                        {% if banner.type == 1 %}
                            <div class="col-6">
                              <div class="card h-100" style="max-width: 800px;border-radius:0rem;">
                                  <div class="row no-gutters">
                                      <div class="col-md-7">
                                          <img src="{{ banner.image }}" class="card-img-top h-100" style="border-radius:0rem;padding: 5px;">
                                      </div>
                                      <div class="col-md-5">
                                          <div class="card-body" style="padding-bottom: 0px;height: 100%;text-align: center;">
                                              <h5 class="card-title">&nbsp;</h5>
                                            <p class="card-text" style="font-weight:500;font-size:93%;">{{ banner.title }}</p>
                                              {% if banner.link %}
                                                <a href="{{ banner.link }}" class="btn btn-link stretched-link" style="padding-bottom: 0px;position: absolute;bottom: 2%;left: 50%;transform: translate(-50%, -2%);z-index: 1128937;font-size: 70%;color: #7d7d7d;">
                                                <u>Заказать</u></a>
                                              {% endif %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        {% endif %} 
                        {% if banner.type == 2 %}
                            <div class="col-3" style="margin-left: -25px;">
                              <div class="card  h-100" style="max-width: 800px;border-radius:0rem;background: #fff;display: block;">
                                  <img src="{{ banner.image }}" class="card-img-top" style="border-radius:0rem;padding: 5px;">
                                  <div class="card-body text-center">
                                      {% if banner.link %}
                                        <a href="{{ banner.link }}" class="btn btn-link stretched-link" style="padding-bottom: 0px;position: absolute;bottom: 2%;left: 50%;transform: translate(-50%, -2%);z-index: 1128937;font-size: 70%;color: #7d7d7d;">
                                        <u>Заказать</u>
                                      {% endif %}
                                    </a>
                                  </div>
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}    
                </div>  
                <p style="display: block;min-height: 40px;font-family: 'Gotham Pro';font-weight: bold;font-size: 300%;color: #fff;text-align: center;margin-bottom: 0px;margin-top: 10px;">
                    <a href="{{ link }}" class="btn btn-link stretched-link" style="position: absolute;left: 50%;transform: translate(-50%, -0%);z-index: 1128937;font-size: 30%;color: #fff;border-bottom: 1px solid #fff;border-radius: 0rem;padding: 0px;line-height: 2;">
                        Узнать подробнее
                    </a>
                </p>
            </div>
        </div>    
        {% endif %}
    {% endif %}
    {% if type == 2 %}
        <div style="width:100%;background:{{ b_color }};margin-top:30px;">
          <div class="">
                {% if title %}
                    <p style="padding-top: 20px; font-family: 'Gotham Pro';font-weight: bold;font-size: 150%;color: #000;text-align: center;">
                        {{ title }}
                    </p>
                    <p style="font-family: 'Gotham Pro';font-weight: bold;font-size: 100%;color: #000;text-align: center;text-decoration: underline;margin-top: -10px;margin-bottom: 60px;">
                        {{ heading_sub_title }}
                    </p>
                {% endif %}
                <div class="row"> 
                    <div class="col-md-8">
                        <div id="map" ></div> 
                    </div>
                    <div class="col-md-4">
                        <div class="map">
                            <div class="map-search-block d-flex flex-row justify-content-between align-items-center">
                                <input type="text" class="form-control form-control--search map-search-block__input" placeholder="{{ text_search }}">
                                <div class="map-menu d-block d-md-none"></div>
                            </div>
                            <div class="map-menu">
                            </div>
                        </div>
                    </div>
                {{ content_bottom }}
            </div>
        </div>
    {% endif %}
{% endif %}