@import "../assests/mixins";
@import "../assests/variebles";

@media (max-width: 680px) {
	#common-home{
		.owlcarousel-viewport,
		#slideshow-about-biscuit,
		.section-special-latest-blocks,
		.section-join-us{
			display: none;
		}
		.section-special-latest-products,
		.section-blog-category-articles{
			padding-top: 0;
		}
		.section-blog-category-articles,
		.section-instagram-gallery{
			padding-bottom: 10px;
		}
        
	}
    #common-footer {
        .main-footer {
            display: none;
        }
        .bn_mobile {
            display: block;
        }
    }
	#information-information,
	#information-instruction,
	#information-payment{
		padding: 25px 0 40px;
	}

	#information-contact{
		.contact-col-form{
			margin-bottom: 30px;
		}
	}

	.section-ask-question{
		margin-top: 30px;
	}

	.btn-primary{
		font-size: 13px;
	}

	.modal-title{
		font-size: 16px;
	}
	.modal{
		.form-group{
			font-size: 14px;
		}
	}

	.ask-question{
		&__input{
			padding: 13px 34px;
			font-size: 11px;
			font-weight: 600;
			height: 120px !important;
			background: url(/catalog/view/theme/biscuit/image/icons/question-icon.png) no-repeat 13px 14px/15px;
			@include border-radius(20px);
			@include box-shadow(inset 0 3px 7px 0 rgba(0, 0, 0, 0.24))
		}
		&__button{
			height: 40px;
			margin-top: 25px;
			@include border-radius(10px);
		}
	}

	.information{
		&__text{
			h2{
				&, & > *{
					font-size: 11px !important;
				}
			}
			b{
				font-weight: bold;
			}
			&, & *{
				font-size: 11px !important;
			}
		}
	}

	.gotop-btn{
		width: 35px;
		height: 35px;
		&--show{
			bottom: 15px;
		}
	}

	.mobile-menu-btn{
		position: absolute;
		width: 22px;
		height: 16px;
		right: 15px;
		top: calc(50% - 8px);
		&__line{
			width: 100%;
			height: 2px;
			right: 0;
			background: #494d52;
			position: absolute;
			&:nth-of-type(1){
				top: 0;
			}
			&:nth-of-type(2){
				top: calc(50% - 1px);
				width: 75%;
			}
			&:nth-of-type(3){
				bottom: 0;
			}
		}
	}

	.main-header{
		padding: 26px 0;
		position: relative;
		border-bottom: solid 1px #dcdcdc;
		.logo{
			padding-right: 0;
			margin-right: 0;
			border-right: none;
			width: 100%;
			text-align: center;
			img{
				max-width: 110px;
			}
		}
	}

	.section-blog-category-articles,
	.section-instagram-gallery{
		.section__title{
			margin-bottom: 20px;
		}
	}

	.instagram-gallery-item{
		width: 31%;
		height: 60px;
		margin-bottom: 10px;
		@include border-radius(0);
	}

	.btn{
		&--cart{
			background: #efefef;
			height: 16px;
			width: 70px;
			line-height: 0;
			padding: 0;
			@include border-radius(16px);
			&::before{
				width: 9px;
				height: 9px;
				margin-bottom: 0;
				margin-right: 0;
				background: url($theme_image_folder + "/icons/cart-icon-v2.png") no-repeat center center / contain;
			}
			span{
				display: none;
			}
		}
	}

	.about-biscuit{
		&__title{
			font-size: 18px;
			text-align: center;
			span{
				font-size: 24px;
			}
		}
		&__text{
			font-size: 12px;
			p:last-of-type{
				margin-bottom: 0;
			}
		}
	}

	.page{
		padding-top: 20px;
		padding-bottom: 30px;
		&--account{
			font-size: 11px;
			.h2, h2{
				font-size: 1rem;
			}
			legend{
				font-size: 1rem;
			}
			#column-right{
				margin-top: 40px;
			}
			.buttons{
				.btn{
					margin-top: 10px;
				}
			}
		}
	}

	.filter, .sort__btn{
		font-size: 13px;
		padding-right: 20px;
		&::after{
			width: 14px;
			height: 14px;
			top: calc(50% - 7px);
			@include background-size(contain);
		}
	}

	.catalog-panel{
		margin-bottom: 20px;
	}

	.pagination-result{
		font-size: 11px;
	}

	.show-catalog-items{
		position: relative;
		&::after{
			position: absolute;
			width: 10px;
			height: 8px;
			content: '';
			display: block;
			top: 24px;
			right: 65px;
			background: url($theme_image_folder + "/icons/arrow-top-icon-v2.png") no-repeat center center;
			@include transform(rotate(180deg));
			@include transition(transform 0.4s);
		}
		&--show::after{
			@include transform(rotate(0deg));
		}
	}

	.top-toast{
		font-size: 11px;
		padding: 7px 60px;
	}

	.mobile-menu{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		right: -100vw;
		opacity: 0;
		background: #fff;
		z-index: 999;
		padding: 15px;
		padding-top: 120px;
		overflow: auto;
		pointer-events: none;
		@include transition;
		&--show{
			right: 0;
			opacity: 1;
			pointer-events: auto;
		}
		&__categories{
			display: none;
			a{
				display: block;
				width: 100%;
				text-align: center;
				font-size: 15px;
				color: #686464;
				padding: 12px 0;
			}
		}
		&__close-btn{
			position: absolute;
			width: 30px;
			height: 30px;
			right: 15px;
			top: 30px;
			background: url($theme_image_folder + "/icons/close-icon.png") no-repeat center center;
		}
		.user-bar{
			&__item{
				padding-left: 0;
				width: auto;
				padding-top: 51px;
				display: block;
				text-align: center;
				line-height: 16px;
				&::before, &::after{
					@include transform(none);
				}
				&::before{
					left: calc(50% - 23px);
					top: 0;
				}
				&::after{
					left: calc(50% - 11px);
					top: 10px;
				}
				&-counter{
					left: calc(50% - 11px);
					top: -9px;
					@include transform(translateX(19px))
				}
			}
		}
		&-items{
			margin-top: 50px;
		}
		&__item{
			display: block;
			font-size: 21px;
			padding: 10px 0;
			text-align: center;
			border-bottom: dashed 2px #ededee;
			&:first-child{
				border-top: dashed 2px #ededee;
			}
		}
		&-socials{
			text-align: center;
			margin-top: 35px;
			margin-bottom: 20px;
		}
		.social{
			&--instagram{
				background: $icons_sprite_alternative 0px -85px;
				&:hover{
					background: $icons_sprite_alternative 0px -62px;
				}
			}
			&--twitter{
				background: $icons_sprite_alternative -29px -85px;
				&:hover{
					background: $icons_sprite_alternative -29px -62px;
				}
			}
			&--vkontakte{
				background: $icons_sprite_alternative -58px -85px;
				&:hover{
					background: $icons_sprite_alternative -58px -62px;
				}
			}
		}
	}

	.pagination{
		margin-bottom: 10px;
		a, span{
			width: 25px;
			height: 25px;
			line-height: 25px;
			font-size: 11px;
		}
	}

	.sort{
		&__list{
			padding: 10px;
			.btn{
				font-size: 10px;
			}
		}
	}

	.section{
		padding: 30px 0;
		&__title{
			font-size: 16px;
			margin-bottom: 20px;
			text-transform: unset;
		}
	}

	.instruction-item{
		width: 100% !important;
		text-align: center;
		&::before{
			display: none;
		}
		&__icon{
			display: inline-block;
			margin-bottom: 0;
		}
		&__title{
			font-size: 11px;
		}
		& + &{
			margin-top: 30px;
		}
	}

	.map-search-block{
		margin-bottom: 30px;
		margin-top: 50px;
		&__title{
			display: none;
		}
		&__input{
			width: 100%;
			font-size: 11px;
			height: 40px;
			@include border-radius(10px);
		}
	}

	.map{
		@include flex-wrap(wrap);
	}

	.btn-map-zoom{
		display: none;
	}

	.map-balloon{
		&__header{
			margin-top: 5px;
		}
	}

	#map{
		height: 85vh;
	}

	.map-menu{
		background: #fff;
		padding: 20px;
		&, &__title, h3{
			font-size: 11px;
		}
		&__title{
			margin-bottom: 15px;
		}
		h3{
			margin-bottom: 15px;
		}
	}

	.product{
		&__main-category{
			text-align: center;
			font-size: 15px;
			margin-bottom: -30px;
			margin-top: 30px;
			font-weight: bold;
		}
		&__image{
			/* height: 190px; */
			&-block{
				.btn--wishlist{
					position: absolute;
					top: 20px;
					right: 15px;
					z-index: 2;
					background: url($theme_image_folder + "/icons/icons8-heart-filled.png") no-repeat center center / contain !important;
				}
				.btn--wishlist:hover {
					background: url($theme_image_folder + "/icons/icons8-heart-outline.png") no-repeat center center / contain!important;
				}
			}
		}
		&__images{
			&-item{
				width: 70px;
				height: 45px;
			}
			&--carousel{
				max-width: 150px;
				max-height: 70px;
				left: -30px;
				top: calc(50% - 35px);
				.owl-item{
					margin-top: 15px !important;
				}
				.owl-nav{
					.owl-prev, .owl-next{
						width: 20px;
						height: 17px;
						top: -48px;
					}
					.owl-prev{
						left: -19px;
					}
					.owl-next{
						right: -19px;
					}
				}
			}
		}
		&__title{
			margin-top: 12px;
			margin-bottom: 15px;
			font-size: 18px;
			line-height: 1.2;
			&-block{
				position: relative;
				padding-right: 90px;
			}
		}
		&__title-block &__price{
			position: absolute;
			top: 0;
			font-size: 14px;
			right: 0;
			.currency{
				font-size: 12px;
			}
		}
		&__description{
			line-height: 1.3;
			& *{
				font-size: 13px !important;
			}
			& > p{
				margin-bottom: 8px;
			}
		}
		&__cart-btn{
			width: 100%;
			text-align: center;
			margin-top: 15px;
			.btn--cart{
				font-size: 22px;
			}
		}
		&__related-block{
			margin-top: 30px;
			padding-bottom: 20px;
		}
	}

	.title-v2{
		font-size: 15px;
		text-align: center !important;
		margin-bottom: 20px;
		font-weight: bold;
	}

	.product-review{
		&__rating-block{
			border-top: none;
			margin: 30px 0 50px;
			padding-top: 5px;
		}
		&__title{
			font-size: 10px;
			margin-right: 6px;
			width: auto;
		}
		&__rating-text{
			font-size: 10px;
			margin-left: 8px;
		}
	}

	.rating{
		&__star:not(&__star--active){
			@include transform(scale(0.6));
		}
		&__star + &__star{
			margin-left: 2px;
		}
	}

	.review{
		& + &{
			margin-top: 40px;
		}
		&__author{
			width: 50px;
			padding-left: 5px;
			&-photo{
				width: 30px;
				height: 30px;
				margin-right: 0;
			}
		}
		&__text{
			width: calc(100% - 55px);
			padding: 14px;
			font-size: 12px;
			position: relative;
		}
		&__text &__author-name{
			position: absolute;
			top: -20px;
			font-size: 10px;
			font-weight: 600;
		}
	}

	.map-search-block{
		position: relative;
		.map-menu{
			position: absolute;
			bottom: -10px;
			pointer-events: none;
			width: 100%;
			left: 0;
			z-index: 2;
			opacity: 0;
			@include box-shadow(0 0 10px rgba(0, 0, 0, 0.27));
			@include transform(translateY(100%));
			@include border-radius(10px);
			@include transition;
			&-list{
				margin-bottom: -11px;
			}
			&--show{
				opacity: 1;
				bottom: -20px;
				pointer-events: auto;
			}
		}
	}

	.ymaps-2-1-75-controls__control_toolbar{
		& + &{
			margin-top: 10px !important;
		}
	}

	.currency{
		font-size: 11px;
	}

	.product-thumb{
		margin-bottom: 12px;
		&__image{
			height: 90px;
			margin-bottom: 10px;
		}
		&__title{
			font-size: 24px;
			text-align: left;
			font-weight: bold;
			padding-right: 30px;
			margin-bottom: 5px;
		}
		&__price{
			font-size: 26px;
		}
		&__content{
			position: relative;
			margin-bottom: 4px;
		}
		.btn--wishlist{
			position: absolute;
			right: 0;
			top: -25px;
			@include transform(scale(0.8));
		}
		&--small &__title{
			font-size: 10px;
		}
	}

	#information-payment{
		.section{
			&__title{
				margin-bottom: 30px;
			}
		}
	}

	.payment-item{
		padding-left: 0;
		text-align: center;
		padding-top: 105px;
		& + &{
			margin-top: 30px;
		}
		&::before{
			left: calc(50% - 41px);
		}
		&__title{
			font-weight: bold;
			margin-bottom: 8px;
		}
		&__title, &__text{
			font-size: 10px;
		}
	}

	.article-thumb{
		margin-bottom: 25px;
		&__image{
			height: 80px;
			@include border-radius(0);
		}
		&__title{
			font-size: 12px;
			text-transform: none;
			margin-bottom: 12px;
			a{
				color: #000;
			}
			&::after{
				display: none;
			}
		}
		&__text{
			font-size: 10px;
			line-height: 1.3;
			margin-bottom: 10px;
		}
		&__btn-more{
			text-align: center;
			font-size: 10px;
			padding: 3px 9px;
			background: #e2a6a6;
			display: block;
			margin: 0 auto;
			max-width: 90px;
			@include border-radius(15px);
			&::before{
				display: none;
			}
			&::after{
				content: '...';
			}
		}
	}

	.section-about-biscuit{
		padding: 23px 0 10px;
		background: #dcdcdc;
	}

	.main-footer{
		.logo{
			width: 100%;
			text-align: center;
		}
		.socials{
			padding-left: 72px;
		}
		&__row-2{
			margin-top: 15px;
			.col{
				min-width: 100%;
				position: relative;
				&::before{
					position: absolute;
					content: '';
					top: -10px;
					left: 15px;
					width: calc(100% - 30px);
					display: block;
					height: 2px;
					border-bottom: dashed 2px #5a5d62;
				}
				&:first-of-type{
					margin-bottom: 30px;
					&::before{
						display: none;
					}
				}
				&:nth-of-type(2)::before{
					top: -20px;
				}
			}
			.col + .col{
				border-left: none !important;
			}
		}
		&__col-1{
			padding-right: 0;
		}
		&__col-2, &__col-3, &__col-4{
			padding: 0;
		}
		&__information-block{
			padding: 40px 0 20px;
		}
		&__copyright-block{
			padding: 20px 0;
		}
	}
}