{{ header }}
<div id="product-product" class="container page">
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<div class="row"> {% if column_left or column_right %}
					{% set class = 'col-sm-12' %}
				{% else %}
					{% set class = 'col-sm-12' %}
				{% endif %}
				<div class="{{ class }}">
					<div class="content">
						<div class="text-center mb-3">
							{% if image %}
								<img src="{{ image }}" alt="{{ heading_title }}">
							{% endif %}
						</div>

						<h1 class="section__title">{{ heading_title }}</h1>
						<div class="tab-pane active" id="tab-description">{{ description }}</div>

						{% if articles %}
							<h3>{{ text_related }}</h3>
							<div class="row"> {% set i = 0 %}
								{% for article in articles %}
									{% if column_left and column_right %}
										{% set class = 'col-xs-8 col-sm-6' %}
									{% elseif column_left or column_right %}
										{% set class = 'col-xs-6 col-md-4' %}
									{% else %}
										{% set class = 'col-xs-6 col-sm-3' %}
									{% endif %}
									<div class="{{ class }}">
										<div class="product-thumb transition">
											<div class="image"><a href="{{ article.href }}"><img src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" class="img-responsive" /></a></div>
											<div class="caption">
												<h4><a href="{{ article.href }}">{{ article.name }}</a></h4>
												<p>{{ article.description }}</p>
												{% if article.rating %}
													<div class="rating"> {% for j in 1..5 %}
															{% if article.rating < j %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> {% endif %}
														{% endfor %} </div>
												{% endif %}
											</div>
											<div class="button-group">
												<button type="button" onclick="location.href = ('{{ article.href }}');"><span class="hidden-xs hidden-sm hidden-md">{{ button_more }}</span> <i class="fa fa-share"></i></button>
												<button type="button" data-toggle="tooltip" title="{{ article.date_added }}" "><i class="fa fa-clock-o"></i></button>
												<button type="button" data-toggle="tooltip" title="{{ text_views }} {{ article.viewed }}" "><i class="fa fa-eye"></i></button>
											</div>
										</div>
									</div>
									{% if column_left and column_right and (i + 1) % 2 == 0 %}
										<div class="clearfix visible-md visible-sm"></div>
									{% elseif column_left or column_right and (i + 1) % 3 == 0 %}
										<div class="clearfix visible-md"></div>
									{% elseif (i + 1) % 4 == 0 %}
										<div class="clearfix visible-md"></div>
									{% endif %}
									{% set i = i + 1 %}
								{% endfor %} </div>
						{% endif %}

						</div>
				</div>

			</div>

			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
<script type="text/javascript"><!--
	$('#button-cart').on('click', function() {
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
			dataType: 'json',
			beforeSend: function() {
				$('#button-cart').button('loading');
			},
			complete: function() {
				$('#button-cart').button('reset');
			},
			success: function(json) {
				$('.alert-dismissible, .text-danger').remove();
				$('.form-group').removeClass('has-error');

				if (json['error']) {
					if (json['error']['option']) {
						for (i in json['error']['option']) {
							var element = $('#input-option' + i.replace('_', '-'));

							if (element.parent().hasClass('input-group')) {
								element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
							} else {
								element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
							}
						}
					}

					if (json['error']['recurring']) {
						$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
					}

					// Highlight any found errors
					$('.text-danger').parent().addClass('has-error');
				}

				if (json['success']) {
					$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

					$('html, body').animate({ scrollTop: 0 }, 'slow');

					$('#cart > ul').load('index.php?route=common/cart/info ul li');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
	//--></script>
<script type="text/javascript"><!--
	$('.date').datetimepicker({
		language: '{{ datepicker }}',
		pickTime: false
	});

	$('.datetime').datetimepicker({
		language: '{{ datepicker }}',
		pickDate: true,
		pickTime: true
	});

	$('.time').datetimepicker({
		language: '{{ datepicker }}',
		pickDate: false
	});

	$('button[id^=\'button-upload\']').on('click', function() {
		var node = this;

		$('#form-upload').remove();

		$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

		$('#form-upload input[name=\'file\']').trigger('click');

		if (typeof timer != 'undefined') {
			clearInterval(timer);
		}

		timer = setInterval(function() {
			if ($('#form-upload input[name=\'file\']').val() != '') {
				clearInterval(timer);

				$.ajax({
					url: 'index.php?route=tool/upload',
					type: 'post',
					dataType: 'json',
					data: new FormData($('#form-upload')[0]),
					cache: false,
					contentType: false,
					processData: false,
					beforeSend: function() {
						$(node).button('loading');
					},
					complete: function() {
						$(node).button('reset');
					},
					success: function(json) {
						$('.text-danger').remove();

						if (json['error']) {
							$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
						}

						if (json['success']) {
							alert(json['success']);

							$(node).parent().find('input').val(json['code']);
						}
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
		}, 500);
	});
	//--></script>
<script type="text/javascript"><!--
	$('#review').delegate('.pagination a', 'click', function(e) {
		e.preventDefault();

		$('#review').fadeOut('slow');

		$('#review').load(this.href);

		$('#review').fadeIn('slow');
	});

	$('#review').load('index.php?route=blog/article/review&article_id={{ article_id }}');

	$('#button-review').on('click', function() {
		$.ajax({
			url: 'index.php?route=blog/article/write&article_id={{ article_id }}',
			type: 'post',
			dataType: 'json',
			data: $("#form-review").serialize(),
			beforeSend: function() {
				$('#button-review').button('loading');
			},
			complete: function() {
				$('#button-review').button('reset');
			},
			success: function(json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
				}

				if (json['success']) {
					$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

					$('input[name=\'name\']').val('');
					$('textarea[name=\'text\']').val('');
					$('input[name=\'rating\']:checked').prop('checked', false);
				}
			}
		});
	});

	$(document).ready(function() {
		$('.thumbnails').magnificPopup({
			type:'image',
			delegate: 'a',
			gallery: {
				enabled: true
			}
		});
	});
	//--></script>
<script type="text/javascript"><!--
	$(document).ready(function() {
		$('#description').find('a>img').each(function(){
			$(this).parent().addClass('gallery');
		});
		$('#description').magnificPopup({
			delegate: 'a.gallery',
			type: 'image',
			gallery: {
				enabled: true
			}
		});

		gotoReview = function() {
			offset = $('#form-review').offset();
			$('html, body').animate({ scrollTop: offset.top-20 }, 'slow');
		}
		gotoReviewWrite = function() {
			offset = $('#form-review h2').offset();
			$('html, body').animate({ scrollTop: offset.top-20 }, 'slow');
		}

	});
	--></script>
{{ footer }} 
