<section class="section-about-biscuit">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="about-biscuit__title">
					{{ text_title }}
				</div>
				{% if text %}
					<div class="about-biscuit__text">
						{{ text }}
					</div>
				{% endif %}
			</div>

			<div class="col-md-7 d-flex flex-row justify-content-end flex-wrap">
				<div class="owlcarousel-viewport" id="slideshow-about-biscuit">
					<div id="owlcarousel-about-biscuit" class="owl-carousel">
						{% for banner in banners %}
							<div class="owlcarousel-slide text-center">
								{% if banner.link %}
									<a href="{{ banner.link }}">
										<img src="{{ banner.image }}" class="img-responsive" />
									</a>
								{% else %}
									<img src="{{ banner.image }}" class="img-responsive" />
								{% endif %}
							</div>
						{% endfor %}
					</div>

					<div class="slideshow__controller">
						<div class="controller d-flex flex-row justify-content-center align-items-center">
							<div class="controller__dots"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript"><!--
	var module_slidwshow_viewport_about_biscuit = $('#slideshow-about-biscuit'),
		contoller_block_about_biscuit = module_slidwshow_viewport_about_biscuit.find('.controller'),
		module_slidwshow_carousel_about_biscuit;

	module_slidwshow_carousel_about_biscuit = $('#owlcarousel-about-biscuit')
		.owlCarousel({
			items: 1,
			dots: true,
			nav: false,
			dotsContainer: contoller_block_about_biscuit.find('.controller__dots'),
			autoplay: true,
			autoplayTimeout: 2500,
			autoplayHoverPause: true,
			loop: true
		});

	contoller_block_about_biscuit
		.find('.controller__arrow')
		.on('click', function () {
			module_slidwshow_carousel_about_biscuit
				.trigger($(this).data('vector') + '.owl.carousel');
		});
	--></script>