<section class="section-ask-question">
	<div class="container">
		<div class="ask-question">
			<form class="form-row" id="ask-question-form-prepare">
				<div class="col-md-8">
					<div class="form-group mb-0">
						<textarea type="text" name="question" placeholder="{{ text_ask }}" class="form-control ask-question__input" rows="1"></textarea>
					</div>
				</div>
				<div class="col-md-4">
					<button type="submit" class="btn btn-primary ask-question__button" title="{{ text_send }}">{{ text_send }}</button>
				</div>
			</form>
		</div>
	</div>
</section>