<div class="swiper-viewport">
    <div id="banner{{ module }}" class="swiper-container">
        <div class="swiper-wrapper">
            {% for banner in banners %}
            <div class="swiper-slide {{ banner.css_class }}">
                {% if banner.link %}
                <a href="{{ banner.link }}">
                    <img src="{{ banner.image }}" alt="{{ banner.title }}"  />
                    <div class="banner-title">
                        {{ banner.title }}
                    </div>
                </a>
                {% else %}
                    <img src="{{ banner.image }}" alt="{{ banner.title }}" />
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript"><!--
$('#banner{{ module }}').swiper({
	effect: 'fade',
	autoplay: 20500,
    autoplayDisableOnInteraction: false
});
--></script> 