{% if category and articles|length > 0 %}
	<section class="section section-blog-category-articles">
		<h2 class="section__title">{{ category.name }}</h2>
		<div class="container">
			<div class="row">
				{% for article in articles %}
					<div class="col-6 col-md-4">
						<div class="article-thumb">
							<a href="{{ article.href }}" class="article-thumb__image" style="background-image: url({{ article.thumb }})"></a>
							<h3 class="article-thumb__title title-line title-line--red"><a href="{{ article.href }}" class="link link--primary" title="{{ article.name }}">{{ article.name }}</a></h3>
							<div class="article-thumb__text">
								{{ article.description }}
							</div>
							<a href="{{ article.href }}" class="link link--black link--look article-thumb__btn-more" title="{{ button_look }}">{{ button_about }}</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}