{% if products %}
<section class="section section-category-products">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="section__title">{{ heading_title }}</h2>
			</div>
			{% for product in products %}
				<div class="col-4" style="padding-right: 5px; padding-top: 5px;">
                    <a href="{{ product.href }}">
                        <div class="card">
                              <img class="card-img-top" src="{{ product.thumb }}">
                              <!--<div class="card-body" style="height: 75px;padding-left: 3px;padding-right: 3px;">
                                    <p class="card-text" style="font-size: 45%;color: #000;text-transform: uppercase;text-align: center;">
                                        {{ product.name }}
                                    </p>
                              </div>-->
                        </div>
                    </a>
                </div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
<script src="catalog/view/theme/biscuit/js/lazyload.min.js"></script>
<script>
	var lazyLoadInstance = new LazyLoad({
		elements_selector: ".lazyimg",
		effect : "fadeIn"
	});
</script>