{% if banners|length > 0 %}
	<section class="section section-instagram-gallery recomend">
		{% if title %}
			<h2 class="section__title">{{ title }}</h2>
		{% endif %}
			<div class="row">
				{% for banner in banners %}
					<div class="col col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
						{% if banner.link %}
							<a href="{{ banner.link }}" class="">
                                <img src="{{ banner.image }}" alt="{{ banner.title }}" style="width: 100%;padding-bottom: 15px;" /> 
                                <div class="banner-title">
                                    {{ banner.title }}
                                </div>
                            </a>
						{% endif %}
					</div>
				{% endfor %}
			</div>
	</section>
{% endif %}