<section class="section section-join-us">
	<div class="container">
		<div class="join-us__cake"></div>
		{% if title %}
			<h2 class="section__title">{{ title }}</h2>
		{% endif %}
		{% if description %}
			<div class="join-us__description text-center">{{ description }}</div>
		{% endif %}

		<form action="{{ action }}" type="get" class="join-us__form d-flex flex-row justify-content-start align-items-center">
			<input type="hidden" name="route" value="account/join">
			<input type="email" name="email" class="form-control form-control--email" title="E-Mail" placeholder="Введите E-Mail" required>
			<button type="submit" class="btn btn-light btn-sign-in" name="type" value="login">{{ text_sign_in }}</button>
			<button type="submit" class="btn btn-light btn-sign-up" name="type" value="register">{{ text_sign_up }}</button>
		</form>
	</div>
</section>