<div class="owlcarousel-viewport" id="slideshow-{{ module }}">
	<div id="owlcarousel-{{ module }}" class="owl-carousel">
		{% for banner in banners %}
			<div class="owlcarousel-slide text-center">
				{% if banner.link %}
					<a href="{{ banner.link }}">
						<img src="{{ banner.image }}" class="img-responsive" />
					</a>
				{% else %}
					<img src="{{ banner.image }}" class="img-responsive" />
				{% endif %}
			</div>
		{% endfor %}
	</div>

	<!-- <div class="slideshow__controller"> -->
		<!-- <div class="container"> -->
			<!-- <div class="controller d-flex flex-row justify-content-center justify-content-lg-start align-items-center"> -->
				<!-- <div class="controller__dots"></div> -->
			<!-- </div> -->
		<!-- </div> -->
	<!-- </div> -->
</div>

<script type="text/javascript"><!--
	var module_slidwshow_viewport{{ module }} = $('#slideshow-{{ module }}'),
		contoller_block{{ module }} = module_slidwshow_viewport{{ module }}.find('.controller'),
		module_slidwshow_carousel{{ module }};

	module_slidwshow_carousel{{ module }} = $('#owlcarousel-{{ module }}')
		.owlCarousel({
			items: 1,
			dots: true,
			nav: false,
			dotsContainer: contoller_block{{ module }}.find('.controller__dots'),
			autoplay: true,
			autoplayTimeout: 6500,
			autoplayHoverPause: true,
			loop: true
		});

	contoller_block{{ module }}
		.find('.controller__arrow')
		.on('click', function () {
			module_slidwshow_carousel{{ module }}
				.trigger($(this).data('vector') + '.owl.carousel');
		});
--></script>