{% if products %}
	<section class="section section-category-products section-special-latest-products">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="section__title">{{ heading_title }}</h2>
				</div>
				{% for product in products %}
					<div class="product-layout col-6 col-md-4">
						<div class="product-thumb">
							<a href="{{ product.href }}" class="product-thumb__image" style="background-image: url({{ product.image }})"></a>
							<div class="product-thumb__title">
								<a href="{{ product.href }}" class="link link--black">{{ product.name }}</a>
							</div>
							<div class="product-thumb__content d-flex flex-row justify-content-between align-items-center">
								<div class="product-thumb__price">
									{% if not product.special %}
										{{ product.price }}
									{% else %}
										{{ product.special }}
										<span class="product-thumb__price-old">
											{{ product.price }}
										</span>
									{% endif %}
								</div>

								<button type="button" title="{{ button_wishlist }}" class="btn btn--wishlist" onclick="wishlist.add('{{ product.product_id }}');"></button>
							</div>
							<!-- <div class="product-thumb__button-cart"> -->
								<!-- <button class="btn btn--cart" type="button" onclick="cart.add('{{ product.product_id }}');" title="{{ button_cart }}"><span>{{ button_cart }}</span></button> -->
							<!-- </div> -->
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
