<section class="section-special-latest-blocks">
	<div class="container">
		<div class="products-big d-flex flex-row justify-content-between align-items-start">
			{% if products %}
				{% for index, product in products %}
					<div class="product-big">
						<div class="product-big__image" style="background-image: url({{ product.image }})"></div>
						<div class="product-big__content d-flex flex-column justify-content-between align-items-start">
							<div>
								{% if index == 'special' %}
									<div class="product-big__type title-line title-line--red">{{ text_special }}</div>
								{% else %}
									<div class="product-big__type title-line title-line--red">{{ text_latest }}</div>
								{% endif %}
								<a href="{{ product.href }}" class="product-big__title link link--black">{{ product.name }}</a>
							</div>
							<a href="{{ product.href }}" class="product-big__btn-look link link--black link--look">{{ button_look }}</a>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>