<div class="content-fulltop">
    <div class="d-none d-md-block top-menu">
        <div class="row">
            <div class="col-sm-9 d-flex flex-row justify-content-start align-items-center">
                {% if categories %}
                <nav class="d-flex flex-row justify-content-start align-items-center main-hor-menu">
                    {% for category in categories %}
                        <a href="{{ category.href }}" class="link link--black main-hor-menu__item" title="{{ category.name }}">{{ category.name }}</a>
                    {% endfor %}
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
	{% for module in modules %}
		{{ module }}
	{% endfor %}
</div>