<footer class="main-footer">
	<div class="main-footer__information-block">
		<div class="container">
			<div class="row main-footer__row-2">
				<div class="col col-md-4">
					<div class="main-footer__col-1">
				        <div class="main-footer__title">Компания</div>

						<ul class="list-unstyled main-footer__list">
                            <li>
                                <a href="/index.php?route=information/information&information_id=6" class="link link--black">
                                    История бренда
                                </a>
                            </li>
                            <li>
                                <a href="/index.php?route=information/information&information_id=8" class="link link--black">
                                    Inditex
                                </a>
                            </li>
                            <li>
                                <a href="/index.php?route=information/information&information_id=11" class="link link--black">
                                    Политика
                                </a>
                            </li>
                            <li>
                                <a href="/index.php?route=information/information&information_id=9" class="link link--black">
                                    Ценности
                                </a>
                            </li>
                            <li>
                                <a href="/index.php?route=information/information&information_id=5" class="link link--black">
                                    Работайте с нами
                                </a>
                            </li>
                            <li>
                                <a href="/index.php?route=information/information&information_id=16" class="link link--black">
                                    Пресс-служба
                                </a>
                            </li>
                            <li>
                                <a href="/index.php?route=information/information&information_id=3" class="link link--black">
                                    Политика конфиденциальности
                                </a>
                            </li>
                        </ul>
					</div>
				</div>
				<div class="col col-md-4">
					<div class="main-footer__col-2">
						<h5 class="main-footer__title">Будьте в курсе новостей</h5>
						<ul class="list-unstyled main-footer__list">
                            <li>
                                <a href="#" class="link link--black">
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link link--black">
                                    Twitter
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link link--black">
                                    Youtube
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link link--black">
                                    Pinterest
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link link--black">
                                    Instagram
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link link--black">
                                    Newsletter
                                </a>
                            </li>
                        </ul>
					</div>
				</div>
				<div class="col col-md-4">
					<div class="main-footer__col-3">
						<h5 class="main-footer__title">Скачайте наше приложение</h5>
						<ul class="list-unstyled main-footer__list">
                            <li>
                                <a href="#" class="link link--black">
                                    IOS
                                </a>
                            </li>
                            <li>
                                <a href="#" class="link link--black">
                                    Android
                                </a>
                            </li>
                        </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<hr class="no-m">
<div class="container main-footer">
    <div class="row main-footer__row-2" style="margin: 0px;">
        <div class="col col-md-10" style="padding: 0px;">
            <div class="main-footer__col-1">
                <div class="main-footer__title" style="margin-bottom: 0px;">Выбрать другой регион</div>
            </div>
        </div>
        <div class="col-md-2 d-flex flex-row justify-content-end align-content-center">
            <form action="https://www.biscuit.kz/index.php?route=common/language/language" class="language-selector d-flex flex-row justify-content-start align-items-center" method="post" enctype="multipart/form-data" id="form-language">
                <div class="language-selector__item language-selector__item--current">
                    ru
                </div>
                <button onclick="$('input[name=\'code\']').attr('value', 'kk-kz'); $('#form-language').submit();" type="submit" class="language-selector__item">
                    kz
                </button>

                <input type="hidden" name="code" value="">
                <input type="hidden" name="redirect" value="eyJyb3V0ZSI6ImNvbW1vblwvaG9tZSIsInVybCI6IiIsInByb3RvY29sIjoiMSJ9">
            </form>
        </div>
    </div>
</div>
<hr class="no-m">
<br />
<br />
<div class="gotop-btn"></div>

<div class="footer-m-menu shadow-lg" style="display: none">
    <div class="container">
        <div class="row">
            <div class="col-3" style="height: 100%">
                <a href="/" class="m-link">
                    <img src="/image/catalog/icons/home.png" alt="БАЗОВЫЕ <br /> МОДЕЛИ"  class="m-icon"> 
                    <div class="m-icon-title">
                        ДОМОЙ
                    </div>
                </a>
            </div>
            <div class="col-3" style="height: 100%">
                <a href="#" class="m-link">
                    <img src="/image/catalog/icons/catalog.png" alt="БАЗОВЫЕ <br /> МОДЕЛИ"  class="m-icon"> 
                    <div class="m-icon-title">
                        КАТАЛОГ
                    </div>
                </a>
            </div>
            <div class="col-3" style="height: 100%">
                <a href="/index.php?route=checkout/cart" class="m-link">
                    <img src="/image/catalog/icons/cart.png" alt="БАЗОВЫЕ <br /> МОДЕЛИ"  class="m-icon"> 
                    <div class="user-bar__item-counter" id="cart-counter-2">0</div>
                    <div class="m-icon-title">
                        КОРЗИНА
                    </div>
                </a>
            </div>
            <div class="col-3" style="height: 100%">
                <a href="/index.php?route=account/account" class="m-link">
                    <img src="/image/catalog/icons/profile.png" alt="БАЗОВЫЕ <br /> МОДЕЛИ"  class="m-icon"> 
                    <div class="m-icon-title">
                        ПРОФИЛЬ
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="top-toast">
	<div class="top-toast__text"></div>
	<button type="button" class="btn-close" onclick="hide_top_toast();" aria-label="Close"></button>
</div>

<link rel="stylesheet" href="/catalog/view/javascript/jquery/fancybox/css/jquery.fancybox.min.css">

<script src="/catalog/view/javascript/bootstrap/js/popper.min.js"></script>
<script src="/catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
<script src="/catalog/view/javascript/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/catalog/view/javascript/jquery/mousewheel/jquery.mousewheel.min.js"></script>
<script src="/catalog/view/javascript/jquery/fancybox/js/jquery.fancybox.min.js"></script>
{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="/catalog/view/javascript/common.js"></script>
<script src="/catalog/view/theme/msk/js/custom.min.js"></script>

</body>
</html>