<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="fyoEzfnDhIPnE5mNLOZtfF1f7iGkJkQ9CJEix-NyMF4" />
	<title>{{ title }}</title>
	{% if robots %}
		<meta name="robots" content="{{ robots }}" />
	{% endif %}
	<base href="{{ base }}" />
	{% if description %}
		<meta name="description" content="{{ description }}" />
	{% endif %}
	{% if keywords %}
		<meta name="keywords" content="{{ keywords }}" />
	{% endif %}
	{#OG#}
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ og_url }}" />
	{% if og_image %}
		<meta property="og:image" content="{{ og_image }}" />
	{% else %}
		<meta property="og:image" content="{{ logo }}" />
	{% endif %}
	<meta property="og:site_name" content="{{ name }}" />

	{#FONTS#}
	<link href="/catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="//fonts.googleapis.com/css?family=Lato:800,700,600,500,400,300" rel="stylesheet" type="text/css">
    <link href="/catalog/view/theme/msk/stylesheet/fonts/stylesheet.css" rel="stylesheet" type="text/css">
	{#STYLES#}
	<link rel="stylesheet" href="/catalog/view/javascript/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/catalog/view/javascript/owl-carousel/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/catalog/view/theme/msk/stylesheet/stylesheet.min.css">
	<link rel="stylesheet" href="/catalog/view/theme/msk/stylesheet/media/stylesheet.min.css">
	{% for style in styles %}
		<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
	{% endfor %}

	{#SCRIPTS#}
	<script src="/catalog/view/javascript/jquery/jquery-3.3.1.min.js"></script>
	<script src="/catalog/view/javascript/owl-carousel/js/owl.carousel.min.js"></script>
	<script src="/catalog/view/javascript/img-loader.js"></script>
	{% for script in scripts %}
		<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}

	{% for link in links %}
		<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}

	{% for analytic in analytics %}
		{{ analytic }}
	{% endfor %}
</head>
<body>

<header class="main-header" style="display: none">
    <div class="mobile-menu-btn d-block d-md-none">
        <div class="mobile-menu-btn__line"></div>
        <div class="mobile-menu-btn__line"></div>
        <div class="mobile-menu-btn__line"></div>
    </div>
    {% if logo %}
        <div class="logo" style="margin-left: calc(50% - 25px); margin-top: 3px;">
            <a href="/">
                <img src="{{ logo }}" title="MSQ" alt="MSQ" class="img-responsive">
            </a>
        </div>
    {% endif %}
    
</header>

    
<div class="mobile-menu d-md-none">
	<div class="mobile-menu__close-btn"></div>
	<div class="mobile-menu__user-bar d-flex flex-row justify-content-between">
        
	</div>

	<div class="mobile-menu-items">
		<a href="{{ home }}" class="link link--black mobile-menu__item" title="{{ text_home }}">{{ text_home }}</a>

		<div class="mobile-menu__item show-catalog-items" title="{{ text_catalog }}">
			{{ text_catalog }}
			<ul class="mobile-menu__categories list-unstyled">
				{% for category in categories %}
					<li><a href="{{ category.href }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="mobile-menu-socials socials">
		<!--{% if instagram and instagram != "" %}
			<a href="{{ instagram }}" target="_blank" class="social social--instagram" title="{{ text_instagram }}"></a>
		{% endif %}
		 {% if twitter and twitter != "" %} -->
			<!-- <a href="{{ twitter }}" target="_blank" class="social social--twitter" title="{{ text_twitter }}"></a> -->
		<!-- {% endif %} -->
		<!-- {% if vkontakte and vkontakte != "" %} -->
			<!-- <a href="{{ vkontakte }}" target="_blank" class="social social--vkontakte" title="{{ text_vkontakte }}"></a> -->
		<!-- {% endif %} -->
	</div>
</div>