{{ header }}
<div id="common-home" class="conteiner_full">
	{{ content_fulltop }}
	<div id="content">
        <div class="container">
            {{ content_top }}
            {{ content_bottom }}
        </div>
	</div>
	{{ content_fullbottom }}
</div>
{{ footer }}