{% if languages|length > 1 %}
	<form action="{{ action }}" class="language-selector d-flex flex-row justify-content-start align-items-center" method="post" enctype="multipart/form-data" id="form-language">
		<div class="language-selector__item language-selector__item--current">
			{{ text }}
		</div>
		{% for language in languages %}
			{% if language.code != code %}
				<button onclick="$('input[name=\'code\']').attr('value', '{{ language.code }}'); $('#form-language').submit();" type="submit" class="language-selector__item">
					{{ language.name }}
				</button>
			{% endif %}
		{% endfor %}

		<input type="hidden" name="code" value="" />
		<input type="hidden" name="redirect" value="{{ redirect }}" />
	</form>
{% endif %}

<!-- {% if languages|length > 1 %} -->
<!-- <form action="{{ action}}" method="post" enctype="multipart/form-data" id="form-language"> -->
  <!-- <div class="language-selector__item language-selector__item--current"> -->
    <!-- {{ text }} -->
    <!-- <ul> -->
    <!-- {% for language in languages %} -->
        <!-- <li onclick="$('input[name=\'code\']').attr('value', '{{ language.code }}'); $('#form-language').submit();"> -->
            <!-- {{ language.name }} -->
        <!-- </li> -->
    <!-- {% endfor %} -->
    <!-- </ul> -->
    <!-- <input type="hidden" name="code" value="" /> -->
    <!-- <input type="hidden" name="redirect" value="{{ redirect }}" /> -->
  <!-- </div> -->
<!-- </form> -->
<!-- {% endif %} -->