{{ header }}
<div id="account-account" class="container page page--account">
	{% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
	{% endif %}
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h2 class="section__title">{{ text_my_account }}</h2>
			<ul class="list-unstyled">
				<li><a class="link link--black link--black-border" href="{{ edit }}">{{ text_edit }}</a></li>
				<li><a class="link link--black link--black-border" href="{{ password }}">{{ text_password }}</a></li>
				<li><a class="link link--black link--black-border" href="{{ address }}">{{ text_address }}</a></li>
				<li><a class="link link--black link--black-border" href="{{ wishlist }}">{{ text_account_wishlist }}</a></li>
			</ul>
			{% if credit_cards %}
				<h2>{{ text_credit_card }}</h2>
				<ul class="list-unstyled">
					{% for credit_card in credit_cards %}
						<li><a class="link link--black link--black-border" href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
			<!-- <h2>{{ text_my_orders }}</h2> -->
			<!-- <ul class="list-unstyled"> -->
				<!-- <li><a class="link link--black link--black-border" href="{{ order }}">{{ text_order }}</a></li> -->
				<!-- <li><a class="link link--black link--black-border" href="{{ download }}">{{ text_download }}</a></li> -->
				<!-- {% if reward %} -->
					<!-- <li><a class="link link--black link--black-border" href="{{ reward }}">{{ text_reward }}</a></li> -->
				<!-- {% endif %} -->
				<!-- <li><a class="link link--black link--black-border" href="{{ return }}">{{ text_return }}</a></li> -->
				<!-- <li><a class="link link--black link--black-border" href="{{ transaction }}">{{ text_transaction }}</a></li> -->
				<!-- <li><a class="link link--black link--black-border" href="{{ recurring }}">{{ text_recurring }}</a></li> -->
			<!-- </ul> -->
			<!-- {#<h2>{{ text_my_affiliate }}</h2>#} -->
			<!-- {#<ul class="list-unstyled">#} -->
				<!-- {#{% if not tracking %}#} -->
					<!-- {#<li><a class="link link--black link--black-border" href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>#} -->
				<!-- {#{% else %}#} -->
					<!-- {#<li><a class="link link--black link--black-border" href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>#} -->
					<!-- {#<li><a class="link link--black link--black-border" href="{{ tracking }}">{{ text_tracking }}</a></li>#} -->
				<!-- {#{% endif %}#} -->
			<!-- {#</ul>#} -->
			<!-- <h2>{{ text_my_newsletter }}</h2> -->
			<!-- <ul class="list-unstyled"> -->
				<!-- <li><a class="link link--black link--black-border" href="{{ newsletter }}">{{ text_newsletter }}</a></li> -->
			<!-- </ul> -->
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}