{{ header }}
<div id="account-forgotten" class="container page page--account">
	{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
	{% endif %}
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h1 class="section__title">{{ heading_title }}</h1>
			<p>{{ text_email }}</p>
			<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
				<fieldset>
					<legend>{{ text_your_email }}</legend>
					<div class="form-group required">
						<label class="control-label" for="input-email">{{ entry_email }}</label>
						<br>
						<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
					</div>
				</fieldset>
				<div class="buttons clearfix">
					<div class="pull-left"><a href="{{ back }}" class="link link--black font-weight-bold">{{ button_back }}</a></div>
					<div class="pull-right">
						<input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
					</div>
				</div>
			</form>
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}