{{ header }}
<div id="account-newsletter" class="container page page--account">
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h1 class="section__title">{{ heading_title }}</h1>
			<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
				<fieldset>
					<div class="form-group">
						<label class=" control-label">{{ entry_newsletter }}</label>
						<div class="">
							{% if newsletter %}
								<label class="radio-inline">
									<input type="radio" name="newsletter" value="1" checked="checked" />
									{{ text_yes }} </label>
								<label class="radio-inline">
									<input type="radio" name="newsletter" value="0" />
									{{ text_no }}</label>
							{% else %}
								<label class="radio-inline">
									<input type="radio" name="newsletter" value="1" />
									{{ text_yes }} </label>
								<label class="radio-inline">
									<input type="radio" name="newsletter" value="0" checked="checked" />
									{{ text_no }}</label>
							{% endif %}
						</div>
					</div>
				</fieldset>
				<div class="buttons clearfix">
					<div class="pull-left"><a href="{{ back }}" class="link link--black link--black-border">{{ button_back }}</a></div>
					<div class="pull-right">
						<input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
					</div>
				</div>
			</form>
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}