{{ header }}
<div id="account-password" class="container page page--account">
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h1 class="section__title">{{ heading_title }}</h1>
			<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
				<fieldset>
					<legend>{{ text_password }}</legend>
					<div class="form-group required">
						<label class="control-label" for="input-password">{{ entry_password }}</label>
						<div class="">
							<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
							{% if error_password %}
								<div class="text-danger">{{ error_password }}</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group required">
						<label class="control-label" for="input-confirm">{{ entry_confirm }}</label>
						<div class="">
							<input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
							{% if error_confirm %}
								<div class="text-danger">{{ error_confirm }}</div>
							{% endif %}
						</div>
					</div>
				</fieldset>
				<div class="buttons clearfix">
					<div class="pull-left"><a href="{{ back }}" class="link link--black link--black-border">{{ button_back }}</a></div>
					<div class="pull-right">
						<input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
					</div>
				</div>
			</form>
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}