{{ header }}
<div id="account-transaction" class="container page page--account">
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h1 class="section__title">{{ heading_title }}</h1>
			<p>{{ text_total }} <b>{{ total }}</b>.</p>
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<td class="text-left">{{ column_date_added }}</td>
						<td class="text-left">{{ column_description }}</td>
						<td class="text-right">{{ column_amount }}</td>
					</tr>
					</thead>
					<tbody>

					{% if transactions %}
						{% for transaction in transactions %}
							<tr>
								<td class="text-left">{{ transaction.date_added }}</td>
								<td class="text-left">{{ transaction.description }}</td>
								<td class="text-right">{{ transaction.amount }}</td>
							</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td class="text-center" colspan="5">{{ text_empty }}</td>
						</tr>
					{% endif %}
					</tbody>

				</table>
			</div>
			<div class="row">
				<div class="col-sm-6 text-left">{{ pagination }}</div>
				<div class="col-sm-6 text-right">{{ results }}</div>
			</div>
			<div class="buttons clearfix">
				<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
			</div>
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}