{{ header }}
<div id="account-wishlist" class="container page page--account">
	{% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h2 class="section__title">{{ heading_title }}</h2>
			{% if products %}
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<td class="text-center">{{ column_image }}</td>
							<td class="text-left">{{ column_name }}</td>
							<td class="text-left">{{ column_model }}</td>
							<td class="text-right">{{ column_stock }}</td>
							<td class="text-right">{{ column_price }}</td>
							<td class="text-right">{{ column_action }}</td>
						</tr>
						</thead>
						<tbody>

						{% for product in products %}
							<tr>
								<td class="text-center">{% if product.thumb %}<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>{% endif %}</td>
								<td class="text-left"><a href="{{ product.href }}" class="link link--black link--black-border">{{ product.name }}</a></td>
								<td class="text-left">{{ product.model }}</td>
								<td class="text-right">{{ product.stock }}</td>
								<td class="text-right">{% if product.price %}
										<div class="price"> {% if not product.special %}
												{{ product.price }}
											{% else %} <b>{{ product.special }}</b> <s>{{ product.price }}</s> {% endif %} </div>
									{% endif %}</td>
								<td class="text-right">
									<!-- <button type="button" onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}" class="btn btn-info"><i class="fa fa-shopping-cart"></i></button> -->
									<a href="{{ product.remove }}" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-times"></i></a>
								</td>
							</tr>
						{% endfor %}
						</tbody>

					</table>
				</div>
			{% else %}
				<p>{{ text_empty }}</p>
			{% endif %}
			<div class="buttons clearfix">
				<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
			</div>
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}