@mixin transition($value: all 0.4s){
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	-o-transition: $value;
	transition: $value;
}

@mixin box-shadow($value...){
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	-ms-box-shadow: $value;
	-o-box-shadow: $value;
	box-shadow: $value;
}

@mixin filter($value){
	-webkit-filter: $value;
	-moz-filter: $value;
	-ms-filter: $value;
	-o-filter: $value;
	filter: $value;
}

@mixin box-sizing($value){
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	-ms-box-sizing: $value;
	-o-box-sizing: $value;
	box-sizing: $value;
}

@mixin border-radius($value){
	border-radius: $value;
	-moz-border-radius: $value;
	-webkit-border-radius: $value;
}

@mixin transform($value...){
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}

@mixin animation($value...){
	-webkit-animation: $value;
	-moz-animation: $value;
	-ms-animation: $value;
	-o-animation: $value;
	animation: $value;
}

@mixin order($value){
	order: $value;
	-webkit-order: $value;
	-moz-order: $value;
}

@mixin flex($value){
	flex: $value;
	-webkit-flex: $value;
	-ms-flex: $value;
}

@mixin justify-content($value){
	justify-content: $value;
	-webkit-justify-content: $value;
}

@mixin align-items($value){
	align-items: $value;
	-webkit-align-items: $value;
}

@mixin flex-wrap($value){
	flex-wrap: $value;
	-ms-flex-wrap: $value;
	-webkit-flex-wrap: $value;
}

@mixin flex-direction($value){
	flex-direction: $value;
	-webkit-flex-direction: $value;
	-ms-flex-direction: $value;
}

@mixin background-size($value){
	background-size: $value;
	-o-background-size: $value;
	-moz-background-size: $value;
	-webkit-background-size: $value;
}