// COLORS
$color__text       : #000000;
$color__text-gray  : #4b4f54;
$color__primary    : #e03e52;
$color__secondary  : #45b244;
$color__red        : #ca2929;

$icons_sprite: url(../image/icons/icons-sprite.png) no-repeat;
$icons_sprite_alternative: url(../../image/icons/icons-sprite-alternative.png) no-repeat;
$theme_image_folder: '/catalog/view/theme/biscuit/image';