{{ header }}
<div id="product-category" class="page">

	<div id="content">
		{{ content_top }}

		<div class="container">
            {% if categories %}
                <div class="list-group" style="margin-left: -15px !important; margin-right: -15px !important;">
                    {% for category in categories %}
                        <a href="{{ category.href }}" class="list-group-item" style="color: #212529;font-weight: bolder;text-transform: uppercase;font-size: 90%;background-position: 7px 0px;background-repeat: no-repeat;background-image: url('{{ category.image }}');padding-left: 55px;">{{ category.name }}</a>
                    {% endfor %}
                </div>
            {% elseif subcategories %}
                <div class="row"> 
                    {% for category in subcategories %}
                        <div class="col-4" style="padding-right: 5px;">
                            <a href="{{ category.href }}">
                                <div class="card">
                                      <img class="card-img-top" src="{{ category.image }}" alt="Card image cap">
                                      <div class="card-body" style="height: 70px;padding-left: 3px;padding-right: 3px;">
                                            <p class="card-text" style="font-size: 75%; font-weight: 600; text-transform: uppercase;color: #000 !important; text-align: center;">
                                                {{ category.name }}
                                            </p>
                                      </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                
                <div class="list-group" style="margin-left: -15px !important; margin-right: -15px !important;">
                    <a href="#" class="list-group-item" style="color: #212529;font-weight: bolder;text-transform: uppercase;font-size: 90%;padding-left: 55px;">{{ heading_title }}</a>
                </div>
                <div class="catalog-panel d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        {#<div class="filter">{{ entry_filter }}</div>#}
                        <div class="sort">
                            <div class="sort__btn">{{ entry_sort }}</div>
                            <div class="sort__list">
                                {% for sorts in sorts %}
                                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                                        <a href="{{ sorts.href }}" class="btn btn-primary sort__item">{{ sorts.text }}</a>
                                    {% else %}
                                        <a href="{{ sorts.href }}" class="btn btn-outline-light sort__item">{{ sorts.text }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row category-products">
                    {% for product in products %}
                        <div class="col-4" style="padding-right: 5px; padding-top: 5px;">
                                <a href="{{ product.href }}">
                                    <div class="card">
                                          <img class="card-img-top" src="{{ product.thumb }}">
                                          <div class="card-body" style="height: 75px;padding-left: 3px;padding-right: 3px;">
                                                <p class="card-text" style="font-size: 45%;color: #000;text-transform: uppercase;text-align: center;">
                                                    {{ product.name }}
                                                </p>
                                          </div>
                                        <!--<div class="card-footer text-muted" style="font-size: 50%;background-color: #ffffff;color: rgb(224, 62, 82) !important;">
                                            {% if not product.special and product.pricefrom != 0 %}
                                            {{ product.pricefrom }} - {{ product.price }}
                                            {% elseif product.pricefrom == 0 %}
                                                {{ product.price }}
                                            {% else %}
                                                {{ product.special }}
                                                <span class="product-thumb__price-old">
                                                    {{ product.price }}
                                                </span>
                                            {% endif %}
                                        </div>-->
                                    </div>
                                </a>
                            </div>
                        <!--<div class="product-layout col-sm-4 col-md-4 col-lg-3">
                            <div class="product-thumb border-pro product-thumb_flex">
                                <a href="{{ product.href }}" class="product-thumb__image" style="background-image: url({{ product.thumb }})"></a>
                                <div class="product-thumb__title">
                                    <a href="{{ product.href }}" class="link link--black">{{ product.name }}</a>
                                </div>
                                {% if heading_title == text_cakes %}
                                    <label>
                                        <span class="title pricefrom_title">
                                            {{ text_price_weight }}
                                        </span>
                                    </label>
                                {% endif %}
                                <div class="product-thumb__content d-flex flex-row justify-content-between align-items-center">
                                    <div class="product-thumb__price">
                                        {% if not product.special and product.pricefrom != 0 %}
                                            {{ product.pricefrom }} - {{ product.price }}
                                        {% elseif product.pricefrom == 0 %}
                                            {{ product.price }}
                                        {% else %}
                                            {{ product.special }}
                                            <span class="product-thumb__price-old">
                                                {{ product.price }}
                                            </span>
                                        {% endif %}
                                    </div>

                                    <button type="button" title="{{ button_wishlist }}" class="btn btn--wishlist" onclick="wishlist.add('{{ product.product_id }}');"></button>
                                </div>
                                <!-- <div class="product-thumb__button-cart"> -->
                                    <!-- <button class="btn btn--cart" type="button" onclick="cart.add('{{ product.product_id }}');" title="{{ button_cart }}"><span>{{ button_cart }}</span></button> -->
                                <!-- </div>
                            </div>
                        </div>-->
                    {% endfor %}
                </div>

                <div class="row d-flex flex-row justify-content-between align-items-center">
                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 text-md-right pagination-result">{{ results }}</div>
                </div>
            {% endif %}
		</div>

		{{ content_bottom }}
	</div>

</div>
{{ footer }}
