{% if reviews %}
	{% for review in reviews %}
		<div class="review">
			<div class="review__block d-flex flex-row justify-content-between align-items-start">
				<div class="review__author d-flex flex-row justify-content-start align-items-center">
					<div class="review__author-photo"></div>
					<div class="review__author-name d-none d-md-block">{{ review.author }}</div>
				</div>
				<div class="review__text">
					<div class="review__author-name d-md-none">{{ review.author }}</div>
					{{ review.text }}
				</div>
			</div>
			{#<div class="review__likes d-flex flex-row justify-content-end align-items-center">#}
				{#<div class="likes-counter">23</div>#}
			{#</div>#}
		</div>
	{% endfor %}
	<div class="text-right">{{ pagination }}</div>
{% else %}
	<p>{{ text_no_reviews }}</p>
{% endif %}