{{ header }}
<div id="product-special" class="page">

	<div id="content">
		{{ content_top }}

		<div class="container">
			{#{% if categories %}#}
			{#<div class="row">#}
			{#<div class="col-sm-3">#}
			{#<ul class="categories">#}
			{#{% for category in categories %}#}
			{#<li><a href="{{ category.href }}">{{ category.name }}</a></li>#}
			{#{% endfor %}#}
			{#</ul>#}
			{#</div>#}
			{#</div>#}
			{#{% endif %}#}

			<div class="catalog-panel d-flex flex-row justify-content-between align-items-center">
				<div class="d-flex flex-row justify-content-start align-items-center">
					{#<div class="filter">{{ entry_filter }}</div>#}
					<div class="sort">
						<div class="sort__btn">{{ entry_sort }}</div>
						<div class="sort__list">
							{% for sorts in sorts %}
								{% if sorts.value == '%s-%s'|format(sort, order) %}
									<a href="{{ sorts.href }}" class="btn btn-primary sort__item">{{ sorts.text }}</a>
								{% else %}
									<a href="{{ sorts.href }}" class="btn btn-outline-light sort__item">{{ sorts.text }}</a>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<h1 class="section__title mb-0">{{ heading_title }}</h1>
			</div>


			<div class="row category-products">
				{% for product in products %}
					<div class="product-layout col-6 col-md-4">
						<div class="product-thumb">
							<a href="{{ product.href }}" class="product-thumb__image" style="background-image: url({{ product.image }})"></a>
							<div class="product-thumb__title">
								<a href="{{ product.href }}" class="link link--black">{{ product.name }}</a>
							</div>
							<div class="product-thumb__content d-flex flex-row justify-content-between align-items-center">
								<div class="product-thumb__price">
									{% if not product.special %}
										{{ product.price }}
									{% else %}
										{{ product.special }}
										<span class="product-thumb__price-old">
										{{ product.price }}
									</span>
									{% endif %}
								</div>

								<button type="button" title="{{ button_wishlist }}" class="btn btn--wishlist" onclick="wishlist.add('{{ product.product_id }}');"></button>
							</div>
							<div class="product-thumb__button-cart">
								<button class="btn btn--cart" type="button" onclick="cart.add('{{ product.product_id }}');" title="{{ button_cart }}"><span>{{ button_cart }}</span></button>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="row d-flex flex-row justify-content-between align-items-center">
				<div class="col-sm-6 text-left">{{ pagination }}</div>
				<div class="col-sm-6 text-right">{{ results }}</div>
			</div>
		</div>

		{{ content_bottom }}
	</div>

</div>
{{ footer }}
