// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

// bs
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05)
}

.panel-body {
	padding: 15px;
	font-size: 15px;
	.buttons{
		&::after{
			content: '';
			display: block;
			clear: both;
		}
	}
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel-heading>.dropdown .dropdown-toggle {
	color: inherit
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit
}

.panel-title>.small,.panel-title>.small>a,.panel-title>a,.panel-title>small,.panel-title>small>a {
	color: inherit
}

.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.list-group,.panel>.panel-collapse>.list-group {
	margin-bottom: 0
}

.panel>.list-group .list-group-item,.panel>.panel-collapse>.list-group .list-group-item {
	border-width: 1px 0;
	border-radius: 0
}

.panel>.list-group:first-child .list-group-item:first-child,.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
	border-top: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel>.list-group:last-child .list-group-item:last-child,.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
	border-bottom: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.panel-heading+.list-group .list-group-item:first-child {
	border-top-width: 0
}

.list-group+.panel-footer {
	border-top-width: 0
}

.panel>.panel-collapse>.table,.panel>.table,.panel>.table-responsive>.table {
	margin-bottom: 0
}

.panel>.panel-collapse>.table caption,.panel>.table caption,.panel>.table-responsive>.table caption {
	padding-right: 15px;
	padding-left: 15px
}

.panel>.table-responsive:first-child>.table:first-child,.panel>.table:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child,.panel>.table:first-child>thead:first-child>tr:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child {
	border-top-left-radius: 3px
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child {
	border-top-right-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child,.panel>.table:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
	border-bottom-left-radius: 3px
}

.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
	border-bottom-right-radius: 3px
}

.panel>.panel-body+.table,.panel>.panel-body+.table-responsive,.panel>.table+.panel-body,.panel>.table-responsive+.panel-body {
	border-top: 1px solid #ddd
}

.panel>.table>tbody:first-child>tr:first-child td,.panel>.table>tbody:first-child>tr:first-child th {
	border-top: 0
}

.panel>.table-bordered,.panel>.table-responsive>.table-bordered {
	border: 0
}

.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child {
	border-left: 0
}

.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child {
	border-right: 0
}

.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th,.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,.panel>.table-responsive>.table-bordered>thead>tr:first-child>th {
	border-bottom: 0
}

.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th {
	border-bottom: 0
}

.panel>.table-responsive {
	margin-bottom: 0;
	border: 0
}

.panel-group {
	margin-bottom: 20px
}

.panel-group .panel {
	margin-bottom: 0;
	border-radius: 4px
}

.panel-group .panel+.panel {
	margin-top: 5px
}

.panel-group .panel-heading {
	border-bottom: 0
}

.panel-group .panel-heading+.panel-collapse>.list-group,.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 1px solid #ddd
}

.panel-group .panel-footer {
	border-top: 0
}

.panel-group .panel-footer+.panel-collapse .panel-body {
	border-bottom: 1px solid #ddd
}

.panel-default {
	border-color: #ddd
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd
}

.panel-default>.panel-heading .badge {
	color: #f5f5f5;
	background-color: #333
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ddd
}

// common
*::-moz-selection{
	background: $color__primary !important;
	color: #fff !important;
}
*::selection{
	background: $color__primary !important;
	color: #fff !important;
}

body{
	font-family: 'Segoe UI', sans-serif;
	background: #fff;
	font-size: 18px;
}

button{
	outline: none !important;
}

.color-red{
	color: $color__red;
}

textarea.form-control{
	resize: none;
}

div.required .control-label:before{
	content: '* ';
	color: #ca2929;
	font-weight: 700;
}

.has-error .form-control{
	border-color: #ca2929;
}

.form-group{
	position: relative;
	.form-control.error{
		border-color: #ca2929;
	}
	.error-block-modal{
		position: absolute;
		padding: 15px;
		right: 0;
		top: 25px;
		opacity: 0;
		pointer-events: none;
		width: 90%;
		@include transition();
		@include border-radius(2px);
		@include transform(translateY(-100%));
		&, &::after{
			background: #ffe8e8;
			border: solid 1px #ca2929;
		}
		&::after{
			position: absolute;
			display: block;
			content: '';
			width: 15px;
			height: 15px;
			border-left: none;
			border-top: none;
			bottom: -8px;
			left: 20px;
			@include transform(rotate(45deg));
		}
		&.show{
			pointer-events: auto;
			opacity: 1;
			top: -4px;
		}
	}
	&.error-top{
		.error-block-modal{
			bottom: auto;
			top: 0;
			&.show{
				top: -30px;
			}
		}
	}
}

.form-control{
	outline: none !important;
	border: solid 1px #dddddd;
	background: #fff;
	padding: 10px 15px;
	height: auto;
	font-weight: 500;
	font-size: 14px;
	@include border-radius(3px);
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #000;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: #000;
	}
	&::-ms-input-placeholder { /* IE 10+ */
		color: #000;
	}
	&::-moz-placeholder { /* Firefox 18- */
		color: #000;
	}
	&--email{
		border: solid 2px #fff;
		background: transparent;
		font-family: 'Segoe UI', sans-serif;
		font-size: 18px;
		padding: 13px 30px 13px 60px;
		height: auto;
		background: url(/catalog/view/theme/biscuit/image/icons/mail-icon.png) no-repeat 26px center;
		@include border-radius(60px);
		@include box-shadow(0 0 13px 0px rgba(0, 0, 0, 0.25));
		&, &:focus, &:active{
			color: #fff;
		}
		&:focus, &:active{
			border-color: #dae0e5;
		}
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #fff;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: #fff;
		}
		&::-ms-input-placeholder { /* IE 10+ */
			color: #fff;
		}
		&::-moz-placeholder { /* Firefox 18- */
			color: #fff;
		}
	}
	&-cart-quantity{
		@include border-radius(5px !important);
	}
	&--search{
		border: solid 1px #d1d1d1;
		height: 60px;
		padding-left: 55px;
		font-size: 18px;
		background: url(/catalog/view/theme/biscuit/image/icons/search-icon.png) no-repeat 20px center;
		@include border-radius(0);
	}
}

.title{
	&-v2{
		font-size: 30px;
		font-weight: 600;
		color: #4b4f54;
		margin-bottom: 65px;
	}
	&-line{
		font-size: 18px;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 13px;
		font-weight: 600;
		&::after{
			content: "-";
			bottom: -25px;
			left: 0;
			font-size: 27px;
			position: absolute;
		}
		&--red{
			&, & > a{
				color: #e03e52;
			}
		}
	}
}

.instruction{
	padding: 25px 0;
	.instruction-item:last-of-type{
		margin-right: -16px;
		&::before{
			display: none;
		}
	}
}

#information-payment{
	.section__title{
		margin-bottom: 70px;
	}
}

.payment-item{
	padding-left: 120px;
	position: relative;
	&::before{
		position: absolute;
		content: '';
		display: inline-block;
		width: 82px;
		height: 82px;
		border: solid 1px #e8e8e8;
		margin-bottom: 15px;
		left: 0;
		top: 0;
		@include border-radius(50%);
	}
	&--cash::before{
		background: url($theme_image_folder + "/icons/money-icon.png") no-repeat center center;
	}
	&--courier::before{
		background: url($theme_image_folder + "/icons/hand-money-icon.png") no-repeat center center;
	}
	&--online::before{
		background: url($theme_image_folder + "/icons/monitor-card-icon.png") no-repeat center center;
	}
	& + &{
		margin-top: 80px;
	}
	&__title{
		font-size: 26px;
		font-weight: 600;
		margin-bottom: 30px;
		line-height: 0.8;
	}
}

.instruction-item{
	position: relative;
	&::before{
		position: absolute;
		height: 1px;
		content: '';
		display: block;
		border-bottom: dashed 1px #cecece;
		width: calc(100% - 125px);
		right: 17px;
		top: 40px;
	}
	&__icon{
		width: 82px;
		height: 82px;
		border: solid 1px #e8e8e8;
		margin-bottom: 15px;
		@include border-radius(50%);
	}
	&__title{
		color: #000;
		span{
			color: $color__primary;
			font-weight: 900;
		}
	}
	&--choose, &--cart{
		width: 380px;
	}
	&--checkout{
		width: 330px;
	}
	&--choose &__icon{
		background: url($theme_image_folder + "/icons/hand-icon.png") no-repeat center center;
	}
	&--cart &__icon{
		background: url($theme_image_folder + "/icons/cart-icon.png") no-repeat center center;
	}
	&--checkout &__icon{
		background: url($theme_image_folder + "/icons/bill-icon.png") no-repeat center center;
	}
}

.top-toast{
	padding: 20px 60px;
	position: fixed;
	width: 100%;
	left: 0;
	top: -500px;
	z-index: 99999;
	font-weight: 400;
	letter-spacing: 1px;
	pointer-events: none;
	@include transition(top 0.4s);
	&__text{
		text-align: center;
		a{
			color: #fff;
			text-decoration: underline;
		}
	}
	&.error{
		background: $color__red;
		color: #fff;
	}
	&.success{
		background: $color__secondary;
		color: #fff;
	}
	&.show{
		top: 0;
		pointer-events: auto;
	}
	.btn-close{
		right: 20px;
		top: calc(50% - 12px);
	}
}

.btn{
	outline: none !important;
	@include box-shadow(none !important);
	&.disabled, &:disabled{
		pointer-events: none;
		@include filter(grayscale(1));
	}
	&--wishlist{
		padding: 0;
		width: 26px;
		height: 26px;
		background: $icons_sprite no-repeat -85px 2px;
		border: none;
		@include transition(background 0.4s);
		&:hover{
			background: $icons_sprite no-repeat -85px -30px;
		}
	}
	&--cart{
		padding: 10px;
		background: rgba(0, 0, 0, 0);
		font-size: 16px;
		font-weight: bold;
		color: #000;
		text-transform: uppercase;
		position: relative;
		outline: none;
		&::before{
			content: '';
			display: inline-block;
			background: $icons_sprite 0px -131px;
			width: 20px;
			height: 20px;
			margin-bottom: -4px;
			margin-right: 15px;
			@include transition(background 0.4s);
		}
		&:hover::before{
			background: $icons_sprite 0px -104px;
		}
	}
	&-map-zoom{
		position: relative;
		width: 52px;
		height: 52px;
		cursor: pointer;
		display: inline-block;
		opacity: 0.8;
		@include border-radius(50%);
		@include transform(scale(0.9));
		@include transition(opacity 0.4s);
		&--in{
			margin-bottom: 5px;
			background: url($theme_image_folder + "/icons/btn-map-zoom-in-icon.png") no-repeat center center / contain;
		}
		&--out{
			background: url($theme_image_folder + "/icons/btn-map-zoom-out-icon.png") no-repeat center center / contain;
		}
		&:hover{
			opacity: 1;
		}
	}
	&-light{
		height: 57px;
		padding: 0 80px;
		background: #fff;
		position: relative;
		font-size: 18px;
		font-weight: bold;
		border: none;
		@include border-radius(80px);
		@include box-shadow(0 0 20px rgba(0, 0, 0, 0.29) !important);
		&::before{
			width: calc(100% + 18px);
			height: calc(100% + 18px);
			opacity: 0.3;
			border: solid 1px #fff;
			content: '';
			display: inline-block;
			left: -9px;
			top: -9px;
			position: absolute;
			@include border-radius(80px);
			@include transition;
		}
		&:hover, &:active, &:focus{
			&::before{
				opacity: 0;
				@include transform(scale(0.7));
			}
		}
	}
	&-sign-in, &-sign-up{
		position: relative;
		&::after{
			content: '';
			display: inline-block;
			width: 26px;
			height: 26px;
			position: absolute;
			left: 16px;
			top: calc(50% - 13px);
			@include transition(background 0.4s);
		}
	}
	&-sign-in{
		&::after{
			background: $icons_sprite -35px -193px;
		}
		&:hover::after{
			background: $icons_sprite -35px -159px;
		}
	}
	&-sign-up{
		&::after{
			background: $icons_sprite -74px -193px;
		}
		&:hover::after{
			background: $icons_sprite -74px -159px;
		}
	}
	&-primary{
		background: $color__primary;
		border: none;
		color: #fff;
		font-weight: 600;
		font-size: 18px;
		@include border-radius(3px);
		&:hover, &:active, &:focus{
			background: #af2a3b !important;
		}
	}
	&-cart-action{
		height: 100%;
		width: 50px;
		&:first-of-type{
			margin-left: 10px;
		}
	}
	&-close{
		width: 22px;
		height: 22px;
		border: solid 1px #838383;
		background: #fff;
		text-align: center;
		line-height: 22px;
		padding: 0;
		display: block;
		position: absolute;
		right: -9px;
		top: -9px;
		opacity: 1 !important;
		@include border-radius(50%);
		&::before, &::after{
			position: absolute;
			content: '';
			display: block;
			background: #4c4c4c;
			width: 12px;
			height: 1px;
			left: calc(50% - 6px);
			top: 50%;
			@include transition(background 0.4s);
		}
		&::before{
			@include transform(rotate(45deg));
		}
		&::after{
			@include transform(rotate(-45deg));
		}
		&:hover{
			&::before, &::after{
				background: $color__primary;
			}
		}
	}
}

.link{
	text-decoration: none !important;
	@include transition;
	&--gray{
		color: $color__text-gray;
		&:hover{
			color: $color__primary;
		}
	}
	&--black{
		color: #000;
		&:hover{
			color: $color__primary;
		}
		&-border{
			border-bottom: solid 1px #000;
			&:hover{
				border-color: $color__primary;
			}
		}
	}
	&--white{
		color: #fff;
		&:hover{
			color: $color__primary;
		}
	}
	&--primary{
		color: $color__primary;
		&:hover{
			color: #000;
		}
	}
	&--phone, &--phone-v2{
		display: inline-block;
		position: relative;
		font-size: 22px;
		font-weight: bold;
		&::before{
			content: '';
			display: inline-block;
			width: 22px;
			height: 22px;
			position: absolute;
			left: 0;
			top: calc(50% - 11px);
		}
	}
	&--phone{
		padding-left: 40px;
		&::before{
			background: $icons_sprite 0 0;
		}
	}
	&--phone-v2{
		padding-left: 70px;
		line-height: 40px;
		&::before{
			background: #fff $icons_sprite 8px 8px;
			width: 40px;
			height: 40px;
			top: 0;
			@include border-radius(50%);
		}
	}
	&--look{
		font-weight: bold;
		text-transform: uppercase;
		padding-left: 40px;
		position: relative;
		&::before{
			width: 22px;
			height: 18px;
			content: '';
			position: absolute;
			left: 0;
			top: calc(50% - 9px);
			background: $icons_sprite -38px -132px;
			@include transition(background 0.4s);
		}
		&:hover::before{
			background: $icons_sprite -38px -106px;
		}
	}
}

.address-block{
	position: relative;
	padding-left: 70px;
	font-size: 18px;
	color: #fff;
	&::before{
		content: '';
		display: inline-block;
		width: 40px;
		height: 40px;
		background: #fff $icons_sprite -66px -121px;
		position: absolute;
		left: 0;
		top: 3px;
		@include border-radius(50%);
	}
	&__title{
		position: relative;
		margin-bottom: 20px;
		font-weight: bold;
		&::after{
			position: absolute;
			content: "-";
			left: -1px;
			bottom: -11px;
			font-size: 19px;
			line-height: 5px;
			font-weight: 400;
		}
	}
}

.ymaps-2-1-75-route-panel-input__icon{
	top: 0 !important;
}

.ymaps-2-1-75-controls__control_toolbar{
	opacity: 0;
	pointer-events: none;
	@include transform(translateY(-100%) !important);
	@include transition;
	&--show{
		opacity: 1;
		pointer-events: auto;
		@include transform(translateY(0%) !important);
	}
}

.user-bar{
	&__item{
		padding-left: 70px;
		min-height: 50px;
		line-height: 50px;
		font-size: 14px;
		position: relative;
		display: inline-block;
		&::before, &::after{
			position: absolute;
			content: '';
			display: inline-block;
			top: 50%;
			@include transform(translateY(-50%));
		}
		&::before{
			width: 46px;
			height: 46px;
			border: solid 1px #e2e4e2;
			left: 0;
			z-index: 1;
			@include border-radius(50%);
		}
		&::after{
			z-index: 2;
			left: 12px;
			width: 22px;
			height: 22px;
			@include transition(background 0.4s);
		}
		&--account{
			&::after{
				background: $icons_sprite -43px -33px;
			}
			&:hover::after{
				background: $icons_sprite -43px -1px;
			}
		}
		&--wishlist{
			&::after{
				background: $icons_sprite -87px -32px;
			}
			&:hover::after{
				background: $icons_sprite -87px 0;
			}
		}
		&--cart{
			&::after{
				background: $icons_sprite -85px -95px;
			}
			&:hover::after{
				background: $icons_sprite -85px -63px;
			}
		}
		&-counter{
			position: absolute;
			background: $color__primary;
			width: 22px;
			height: 22px;
			color: #fff;
			font-size: 13px;
			text-align: center;
			line-height: 22px;
			font-weight: bold;
			left: 29px;
			top: -6px;
			z-index: 3;
			@include border-radius(50%);
		}
		& + &{
			margin-left: 13px;
		}
	}
}

.logo{
	img{
		max-width: 160px;
		width: 100%;
	}
	padding-right: 35px;
	margin-right: 40px;
	border-right: #616468 solid 1px;
}

.social{
	display: inline-block;
	@include transition(background 0.4s);
	&--instagram{
		width: 14px;
		height: 14px;
		background: $icons_sprite 0px -85px;
		&:hover{
			background: $icons_sprite 0px -62px;
		}
	}
	&--twitter{
		width: 16px;
		height: 14px;
		background: $icons_sprite -29px -85px;
		&:hover{
			background: $icons_sprite -29px -62px;
		}
	}
	&--vkontakte{
		width: 18px;
		height: 14px;
		background: $icons_sprite -58px -85px;
		&:hover{
			background: $icons_sprite -58px -62px;
		}
	}
}

#map{
	width: 800px;
	height: 540px;
}

.map-search-block{
	margin-bottom: 20px;
	&__input{
		width: calc(100% - 800px);
	}
	&__title{
		font-size: 26px;
		font-weight: 600;
	}
}

.map-menu{
	flex-grow: 1;
	background: #e8e8e8;
	padding: 30px;
	&__title{
		font-size: 26px;
		font-weight: 600;
		line-height: 0.8;
		margin-bottom: 25px;
	}
	ol{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			counter-increment: map-menu-item;
			margin-bottom: 11px;
			&::before{
				font-weight: 600;
				content: counter(map-menu-item) ". ";
			}
		}
	}
}

.map-balloon{
	position: absolute;
	background: transparent;
	width: 362px;
	height: 260px;
	padding: 30px 40px;
	font-size: 18px;
	svg{
		position: absolute;
		top: -31px;
		left: -31px;
		pointer-events: none;
		z-index: 1;
	}
	&__arrow{
		position: absolute;
		bottom: -22px;
		right: -4px;
		width: 10px;
		height: 22px;
	}
	&__header, &__content, &__footer{
		position: relative;
		z-index: 2;
	}
	&__header{
		font-weight: bold;
		margin-bottom: 15px;
		line-height: 0.8;
	}
	&__footer{
		padding-top: 12px;
		border-top: dashed 1px #ded9d9;
		.map-route{
			font-weight: bold;
			display: inline-block;
			color: #000;
			cursor: pointer;
			margin-bottom: 0;
			border-bottom: solid 1px #000;
			@include transition;
			&:hover{
				color: $color__primary;
				border-color: $color__primary;
			}
		}
	}
	&__content{
		span{
			font-weight: 600;
		}
		.text-close, .text-open{
			position: relative;
			display: inline-block;
			font-weight: bold;
			padding-right: 23px;
			&::after{
				width: 18px;
				height: 18px;
				position: absolute;
				top: calc(50% - 8px);
				right: 0;
				content: '';
				display: inline-block;
			}
		}
		.text-close{
			color: $color__red;
			&::after{
				background: url($theme_image_folder + "/icons/red-circle-icon.png") no-repeat center center;
			}
		}
		.text-open{
			color: #3bc63b;
			&::after{
				background: url($theme_image_folder + "/icons/green-circle-icon.png") no-repeat center center;
			}
		}
	}
	&__close-btn{
		position: absolute;
		right: 12px;
		top: 0;
		z-index: 3;
		color: #9c9c9c;
		font-size: 26px;
		text-decoration: none !important;
		@include transition(color 0.4s);
		&:hover{
			color: $color__primary;
		}
	}
}

.socials{
	.social + .social{
		margin-left: 23px;
	}
}

.language-selector{
	&__item{
		background: none;
		border: none;
		padding: 0;
		color: #fff;
		font-size: 16px;
		@include transition(color 0.4s);
		&:not(&--current) + &:not(&--current){
			margin-left: 10px;
		}
		&:not(&--current):hover{
			color: $color__primary;
		}
		&--current{
			font-weight: 900;
			margin-right: 38px;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				display: inline-block;
				width: 20px;
				height: 1px;
				background: #6f7276;
				top: calc(50% + 1px);
				right: -28px;
			}
		}
	}
}

.main-hor-menu{
	font-size: 16px;
	&__item{
		position: relative;
		display: inline-block;
	}
	&__item + &__item{
		margin-left: 37px;
		&::before{
			content: '';
			display: inline-block;
			width: 8px;
			height: 1px;
			background: #fff;
			position: absolute;
			left: -21px;
			top: calc(50% + 1px);
		}
	}
}

.catalog-panel{
	margin-bottom: 50px;
	.filter{
		margin-right: 75px;
	}
}

.row.category-products{
	margin-bottom: 40px;
}

.pagination{
	margin-bottom: 0;
	a, span{
		text-align: center;
		width: 40px;
		height: 40px;
		line-height: 40px;
		display: inline-block;
		border: solid 1px #aeb2b7;
		margin-right: 5px;
		color: #aeb2b7;
		text-decoration: none;
		@include transition;
	}
	a:hover, a:active, a:focus{
		border: solid 1px #4b4f54;
		color: #4b4f54;
	}
	span{
		border: solid 1px $color__primary;
		color: $color__primary;
	}
}

.filter, .sort__btn{
	font-size: 26px;
	padding-right: 43px;
	position: relative;
	cursor: pointer;
	@include transition(color 0.4s);
	&::after{
		position: absolute;
		right: 0;
		top: calc(50% - 12px);
		width: 24px;
		height: 24px;
		content: '';
		display: inline-block;
	}
	&:hover{
		color: $color__primary;
	}
}
.filter{
	&::after{
		background: url($theme_image_folder + "/icons/filter-icon.png") no-repeat center center;
	}
}
.sort{
	position: relative;
	&__btn{
		&::after{
			background: url($theme_image_folder + "/icons/sort-icon.png") no-repeat center center;
		}
	}
	&__list{
		position: absolute;
		left: 0;
		bottom: 10px;
		opacity: 0;
		pointer-events: none;
		background: #fff;
		padding: 20px;
		min-width: 280px;
		border: solid 1px #efefef;
		z-index: 4;
		@include border-radius(5px);
		@include box-shadow(0 0 20px rgba(0, 0, 0, 0.15));
		@include transform(translateY(100%));
		@include transition;
		&--show{
			opacity: 1;
			pointer-events: auto;
			bottom: -10px;
		}
	}
	&__item{
		font-size: 14px;
		text-align: left;
		width: 100%;
		display: block;
		& + &{
			margin-top: 5px;
		}
		&.btn-outline-light{
			color: #525252;
			border-color: #efefef;
		}
	}
}

.section{
	padding: 100px 0;
	&__title{
		font-size: 36px;
		text-transform: uppercase;
		color: #4b4f54;
		font-weight: bold;
		margin-bottom: 40px;
		text-align: center;
	}
}

.controller{
	&__dots{
		.owl-dot{
			width: 6px;
			height: 6px;
			border: solid 2px #b2b6ba;
			background: transparent;
			display: inline-block;
			padding: 0;
			margin: 0 12px;
			position: relative;
			@include border-radius(50%);
			@include transition;
			&::after{
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				border: 2px solid #626262;
				left: calc(50% - 5px);
				top: calc(50% - 5px);
				opacity: 0;
				pointer-events: none;
				@include border-radius(50%);
				@include transition;
			}
			&.active{
				border-color: rgba(0, 0, 0, 0);
				&::after{
					opacity: 1;
				}
			}
		}
	}
}

.owlcarousel-viewport{
	position: relative;
}

#owlcarousel-0 + .slideshow__controller{
	.controller{
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 2;
		&__dots{
			display: flex;
			@include flex-direction(column);
			@include justify-content(start);
			@include align-items(center);
		}
		.owl-dot{
			margin: 12px 0;
		}
	}
}

.page{
	padding-top: 100px;
	padding-bottom: 100px;
}

.product-big{
	border: solid 1px #d1d1d1;
	padding: 30px 20px 30px 300px;
	position: relative;
	overflow: hidden;
	max-width: 540px;
	width: 100%;
	height: 300px;
	@include border-radius(10px);
	&__image{
		width: 280px;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		background-position: center center;
		@include background-size(cover);
	}
	&__title{
		font-weight: 600;
	}
	&__content{
		height: 100%;
	}
}

#information-information,
#information-instruction,
#information-payment{
	padding: 75px 0 110px;
}

#information-contact{
	.section__title{
		margin-bottom: 80px;
	}
}

.information{
	&__text{
		b{
			font-weight: 600;
		}
	}
}

.ask-question{
	&__input{
		padding: 26px 60px;
		background: url($theme_image_folder + "/icons/question-icon.png") no-repeat 20px center;
	}
	&__button{
		height: 100%;
		width: 100%;
	}
}

.product-thumb{
	margin-bottom: 35px;
	&__image{
		margin-bottom: 23px;
		width: 100%;
		height: 175px;
		display: block;
		background-position: center center;
		@include background-size(cover);
		@include transition(opacity 0.4s);
		&:hover{
			opacity: 0.7;
		}
	}
	&__title{
		font-size: 24px;
		text-align: center;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	&__content{
		margin-bottom: 10px;
	}
	&__price{
		color: $color__primary;
		font-size: 21px;
		font-weight: 700;
		&-old{
			padding-left: 10px;
			&, & span{
				font-weight: 400;
				color: #9f9f9f;
				text-decoration: line-through;
			}
		}
	}
	&__button-cart{
		text-align: center;
	}
	&--small &__title{
		font-size: 18px;
	}
}

.currency{
	font-size: 20px;
	color: #000;
	font-weight: 400;
}

// about-biscuit
.section-about-biscuit{
	background: #f0f4f7;
	padding: 45px 0 26px;
	.owlcarousel-viewport{
		max-width: 600px;
		width: 100%;
	}
	.slideshow__controller{
		margin-top: 15px;
	}
}

.section-ask-question{
	margin-top: 110px;
}

.about-biscuit{
	&__title{
		color: #4b4f54;
		font-size: 41px;
		line-height: 1.25;
		margin-top: -11px;
		margin-bottom: 15px;
		span{
			font-size: 86px;
			font-weight: 600;

		}
	}
	&__text{
		font-size: 14px;
	}
}

.categories{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	@include flex-direction(row);
	@include justify-content(space-between);
	@include align-items(center);
	@include flex-wrap(wrap);
	li:first-of-type{
		margin-left: -12px;
	}
	li:last-of-type{
		margin-right: -12px;
	}
	a{
		display: inline-block;
		text-decoration: none;
		color: #000;
		font-size: 26px;
		padding: 0 12px 4px;
		border-bottom: solid 3px rgba(224, 62, 82, 0);
		&:hover{
			border-bottom: solid 3px rgba(224, 62, 82, 1);
		}
	}
}

// top-menu
.top-menu{
	background: #4b4f54;
	padding: 5px 0 8px;
	position: relative;
	.main-hor-menu{
		margin-left: 91px;
	}
	.language-selector{
		margin-right: -5px;
	}
	.categories-list{
		top: 40px;
		position: absolute;
		background-color: #fff;
		padding: 80px 0;
		left: 0;
		width: 100%;
		z-index: 3;
		opacity: 0;
		pointer-events: none;
		@include transition(opacity 0.4s);
		&--show{
			opacity: 1;
			pointer-events: auto;
		}
	}
}

// main-header
.main-header{
	padding: 35px 0;
	background: transparent;
	.user-bar{
		margin-right: -5px;
	}
}

// section category products
.section-category-products{
	padding-bottom: 30px;
}

// join-us
.join-us{
	&__description{
		font-size: 36px;
		line-height: 1.05;
		margin-bottom: 90px;
	}
	&__cake{
		position: absolute;
		left: -50px;
		bottom: -160px;
		width: 300px;
		height: 320px;
		background: url(/catalog/view/theme/biscuit/image/cake_img.png) no-repeat center left / contain;
	}
	&__form{
		padding: 0 20px;
		.form-control--email{
			width: 360px;
			color: #fff;
			padding: 10px 20px;
			padding-left: 60px;
			font-size: 18px;
			font-weight: 600;
			@include box-shadow(inset 0 3px 7px 0 rgba(0, 0, 0, 0.24));
		}
		.btn-light{
			margin-left: 65px;
		}
	}
}

.gotop-btn{
	width: 60px;
	height: 60px;
	background: $color__primary;
	position: fixed;
	right: 3%;
	opacity: 0;
	z-index: 7;
	bottom: -60px;
	pointer-events: none;
	cursor: pointer;
	@include box-shadow(2px 3px 6px rgba(23,23,23,.23));
	@include border-radius(50%);
	@include transform(scale(0));
	@include transition;
	&::before{
		width: 20px;
		height: 20px;
		content: "";
		position: absolute;
		left: calc(50% - 10px);
		top: calc(50% - 10px);
		background: url(/catalog/view/theme/biscuit/image/icons/arrow-up-icon.svg) no-repeat center center / 18px 20px;
	}
	&--show{
		bottom: 60px;
		opacity: 0.7;
		pointer-events: auto;
		@include transform(scale(1));
		&:hover{
			opacity: 1;
		}
	}
}

.article-thumb{
	&__image{
		display: block;
		width: 100%;
		height: 200px;
		margin-bottom: 15px;
		@include background-size(cover);
		@include border-radius(10px 10px 0 0);
		@include transition(opacity 0.4s);
		&:hover{
			opacity: 0.7;
		}
	}
	&__title{
		margin-bottom: 20px;
	}
	&__text{
		color: #666363;
		font-size: 18px;
		margin-bottom: 50px;
	}
}

.product{
	&-review{
		&__rating-block{
			margin: 60px 0 70px;
			padding-top: 45px;
			border-top: solid 1px #e8e8e8;
		}
		&__title{
			font-size: 30px;
			font-weight: 600;
			color: #4b4f54;
			width: 310px;
		}
		&__rating-text{
			font-size: 26px;
			margin-left: 65px;
			span{
				font-weight: bold;
				color: $color__primary;
			}
		}
	}
	&__info-block{
		margin-top: 50px;
	}
	&__related-block{
		margin-top: 90px;
		padding-bottom: 50px;
	}
	&__main-category{
		font-size: 36px;
		color: #4b4f54;
		font-weight: 600;
		line-height: 0.9;
		margin-top: 75px;
	}
	&__title{
		line-height: 0.9;
		margin-top: -6px;
		margin-bottom: 22px;
		font-weight: 600;
		font-size: 42px;
	}
	&__description{
		line-height: 1.1;
	}
	&__image-block, &__action-block{
		max-width: 615px;
		width: 100%;
		position: relative;
	}
	&__image{
		display: block;
		width: 100%;
		height: 440px;
		background-position: center center;
		position: relative;
		z-index: 1;
		border: solid 1px #d1d1d1;
		@include background-size(cover);
	}
	&__images{
		position: absolute;
		z-index: 2;
		top: 0;
		max-width: 150px;
		width: 100%;
		height: 100%;
		left: 40px;
		&-item{
			display: block;
			width: 160px;
			height: 100px;
			margin-top: 20px;
			background-position: center center;
			@include background-size(cover);
			&:first-of-type{
				margin-top: 38px;
			}
		}
		&--carousel{
			max-width: 360px;
			max-height: 160px;
			left: -60px;
			top: 140px;
			@include transform(rotate(90deg));
			.owl-stage-outer, .owl-stage{
				height: 100%;
			}
			.owl-item{
				margin-top: 49px !important;
				@include transform(rotate(-90deg));
			}
			.owl-nav{
				position: relative;
				width: 100%;
				height: 1px;
				.owl-prev, .owl-next{
					padding: 0;
					margin: 0;
					border: none;
					width: 40px;
					height: 20px;
					position: absolute;
					cursor: pointer;
					opacity: 0.5;
					z-index: 3;
					top: -85px;
					@include transform(rotate(-90deg));
					@include transition(opacity 0.4s);
					&:hover{
						opacity: 1;
					}
					&.disabled{
						opacity: 0 !important;
						cursor: auto;
					}
				}
				.owl-prev{
					left: -35px;
					background: url(/catalog/view/theme/biscuit/image/icons/arrow-up-2-icon.svg) no-repeat center center / contain !important;
				}
				.owl-next{
					right: -35px;
					background: url(/catalog/view/theme/biscuit/image/icons/arrow-down-2-icon.svg) no-repeat center center / contain !important;
				}
			}
		}
		&--carousel &-item{
			margin-top: 0;
		}
	}
	&__price{
		color: $color__primary;
		font-size: 26px;
		font-weight: 700;
		.currency{
			color: #9f9f9f;
			font-size: 26px;
		}
		&-old{
			padding-left: 10px;
			&, & span{
				font-weight: 400;
				color: #9f9f9f;
				text-decoration: line-through;
			}
		}
	}
	&__cart-btn{
		.btn--cart{
			font-size: 36px;
			font-weight: 600;
			padding: 0;
			&::before{
				margin-bottom: 1px;
			}
		}
	}
}

.likes-counter{
	font-size: 16px;
	position: relative;
	padding-right: 22px;
	color: #000;
	display: inline-block;
	opacity: 0.7;
	cursor: pointer;
	line-height: 1;
	@include transition(opacity 0.4s);
	&::after{
		position: absolute;
		content: '';
		display: inline-block;
		height: 14px;
		width: 14px;
		top: calc(50% - 7px);
		right: 0;
		background: $icons_sprite -42px -230px;
	}
	&:hover{
		opacity: 1;
	}
}

.review{
	& + &{
		margin-top: 30px;
	}
	&__author{
		width: 280px;
		padding-left: 10px;
		&-photo{
			width: 88px;
			height: 88px;
			background: #dddddd;
			margin-right: 40px;
			@include border-radius(50%);
		}
		&-name{
			font-size: 26px;
		}
	}
	&__text{
		width: calc(100% - 300px);
		font-size: 24px;
		padding: 24px 19px;
		font-weight: 300;
		line-height: 1.3;
		@include border-radius(11px);
		@include box-shadow(4px 5px 35px 8px rgba(94, 93, 93, 0.22))
	}
	&__likes{
		margin-top: 5px;
		padding-right: 13px;
	}
}

.rating{
	&__star{
		background: $icons_sprite -2px -225px;
		width: 24px;
		height: 24px;
		position: relative;
		& + &{
			margin-left: 27px;
		}
		&--active{
			position: absolute;
			left: 0;
			top: 0;
			background-position: -2px -194px;
		}
	}
}

.instagram-gallery-item{
	width: 250px;
	height: 250px;
	overflow: hidden;
	position: relative;
	background-position: center center;
	@include background-size(cover);
	@include border-radius(10px);
	&__link{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		background: #000;
		@include transition(opacity 0.4s);
	}
	&:hover &__link{
		opacity: 0.4;
	}
}

#common-home{
	.section-join-us{
		margin-top: 55px;
	}
	.section-blog-category-articles{
		padding-top: 130px;
	}
	.section-instagram-gallery{
		padding-top: 0;
	}
}

.section-blog-category-articles, .section-instagram-gallery{
	.section__title{
		margin-bottom: 50px;
	}
}

.main-footer{
	background-color: #4b4f54;
	color: #fff;
	&__row-2{
		margin-top: 26px;
		.col{
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.col + .col{
			border-left: dashed 2px #5a5d62;
		}
	}
	&__col-1{
		padding-right: 60px;
	}
	&__col-2, &__col-3{
		padding-right: 45px;
	}
	&__col-2, &__col-3, &__col-4{
		padding-left: 50px;
	}
	&__information-block{
		padding: 75px 0 37px;
	}
	&__copyright-block{
		background: #fff;
		color: $color__text;
		padding: 35px 0;
	}
	&__title{
		font-size: 18px;
		position: relative;
		margin-bottom: 20px;
		font-weight: bold;
		text-transform: uppercase;
		&::after{
			position: absolute;
			content: "-";
			left: -1px;
			bottom: -11px;
			font-size: 19px;
			line-height: 5px;
			font-weight: 400;
		}
	}
	&__list{
		li{
			margin-bottom: 0;
		}
	}
	.address-block{
		margin-bottom: 40px;
		&__title{
			line-height: 1.2;
		}
	}
	.logo{
		padding: 0;
		border: none;
	}
	.socials{
		margin-top: 17px;
		padding-left: 70px;
	}
}

.section-join-us{
	background: #e03e52 url(/catalog/view/theme/biscuit/image/section-join-us-bg.jpg) no-repeat center center / cover;
	color: #fff;
	padding: 25px 0 48px;
	position: relative;
	.section{
		&__title{
			color: #fff;
			position: relative;
			margin-bottom: 25px;
			&::after{
				position: absolute;
				bottom: -15px;
				left: calc(50% - 5px);
				width: 10px;
				height: 5px;
				background: #fff;
				content: '';
				display: inline-block;
			}
		}
	}
}