{{ header }}
<div id="error-not-found" class="container page">
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h1 class="section__title">{{ heading_title }}</h1>
			<div class="text-center">
				<p>{{ text_error }}</p>
				<a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
			</div>
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}
