{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
                    <div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
							{% if error_name %}
								<div class="text-danger">{{ error_name }}</div>
							{% endif %}
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label" for="input-link">{{ entry_link }}</label>
						<div class="col-sm-10">
							<input type="text" name="link" value="{{ link }}" placeholder="{{ link }}" id="input-link" class="form-control" />
							{% if error_link %}
								<div class="text-danger">{{ error_link }}</div>
							{% endif %}
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label" for="input-type">{{ entry_type }}</label>
						<div class="col-sm-10">
							<input type="text" name="type" value="{{ type }}" placeholder="{{ link }}" id="input-type" class="form-control" />
							{% if error_link %}
								<div class="text-danger">{{ error_link }}</div>
							{% endif %}
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label" for="input-color">{{ entry_bg_color }}</label>
						<div class="col-sm-10">
							<input type="text" name="b_color" value="{{ b_color }}" placeholder="{{ b_color }}" id="input-color" class="form-control" />
							{% if error_link %}
								<div class="text-danger">{{ error_link }}</div>
							{% endif %}
						</div>
					</div>
                    <ul class="nav nav-tabs" id="language">
						{% for language in languages %}
							<li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
						{% endfor %}
					</ul>
					<div class="tab-content">
						{% for language in languages %}
							<div class="tab-pane" id="language{{ language.language_id }}">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-title{{ language.language_id }}">{{ entry_title }}</label>
									<div class="col-sm-10">
										<input type="text" name="title[{{ language.language_id }}]" placeholder="{{ entry_title }}" id="input-title{{ language.language_id }}" value="{{ title[language.language_id] ? title[language.language_id] }}" class="form-control">
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
                    <hr>
<!--                    BANNER 1 -->                    
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-banner">{{ entry_banner }}</label>
						<div class="col-sm-10">
							<select name="banner_id_1" id="input-banner" class="form-control">
								{% for banner in banners %}
									{% if banner.banner_id == banner_id_1 %}
										<option value="{{ banner.banner_id }}" selected="selected">{{ banner.name }}</option>
									{% else %}
										<option value="{{ banner.banner_id }}">{{ banner.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label" for="input-b-type-1">{{ entry_banner_type_1 }}</label>
						<div class="col-sm-10">
							<input type="text" name="b_type_1" value="{{ b_type_1 }}" placeholder="{{ entry_name }}" id="input-b-type-1" class="form-control" />
							{% if error_name %}
								<div class="text-danger">{{ error_name }}</div>
							{% endif %}
						</div>
					</div>
                    <ul class="nav nav-tabs" id="language-b-title-1">
						{% for language in languages %}
							<li><a href="#language-b-title-1{{ language.language_id }}" data-toggle="tab">
                                <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
						{% endfor %}
					</ul>
					<div class="tab-content">
						{% for language in languages %}
							<div class="tab-pane" id="language-b-title-1{{ language.language_id }}">
								<div class="form-group">
									<label class="col-sm-2 control-label" 
                                           for="input-title-1{{ language.language_id }}">{{ entry_title_1 }}</label>
									<div class="col-sm-10">
										<input type="text" 
                                               name="b_title_1[{{ language.language_id }}]" 
                                               placeholder="{{ entry_title }}" 
                                               id="input-title-1{{ language.language_id }}" 
                                               value="{{ b_title_1[language.language_id] ? 
                                               b_title_1[language.language_id] }}" 
                                               class="form-control">
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
<!--                 END BANNER 1 -->   
                    
                    <hr>  
                    <!--                    BANNER 2 -->                    
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-banner-2">{{ entry_banner_2 }}</label>
						<div class="col-sm-10">
							<select name="banner_id_2" id="input-banner-2" class="form-control">
								{% for banner in banners %}
									{% if banner.banner_id == banner_id_2 %}
										<option value="{{ banner.banner_id }}" selected="selected">{{ banner.name }}</option>
									{% else %}
										<option value="{{ banner.banner_id }}">{{ banner.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label" for="input-b-type-2">{{ entry_banner_type_2 }}</label>
						<div class="col-sm-10">
							<input type="text" name="b_type_2" value="{{ b_type_2 }}" placeholder="{{ b_type_2 }}" id="input-b-type-2" class="form-control" />
							{% if error_name %}
								<div class="text-danger">{{ error_name }}</div>
							{% endif %}
						</div>
					</div>
                    <ul class="nav nav-tabs" id="language-b-title-2">
						{% for language in languages %}
							<li><a href="#language-b-title-2{{ language.language_id }}" data-toggle="tab">
                                <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
						{% endfor %}
					</ul>
					<div class="tab-content">
						{% for language in languages %}
							<div class="tab-pane" id="language-b-title-2{{ language.language_id }}">
								<div class="form-group">
									<label class="col-sm-2 control-label" 
                                           for="input-title-2{{ language.language_id }}">{{ entry_title_2 }}</label>
									<div class="col-sm-10">
										<input type="text" 
                                               name="b_title_2[{{ language.language_id }}]" 
                                               placeholder="{{ entry_title }}" 
                                               id="input-title-2{{ language.language_id }}" 
                                               value="{{ b_title_2[language.language_id] ? 
                                               b_title_2[language.language_id] }}" 
                                               class="form-control">
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
<!--                 END BANNER 2 -->   
                    
                    <hr>
                    <!--                    BANNER 1 -->                    
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-banner-3">{{ entry_banner_3 }}</label>
						<div class="col-sm-10">
							<select name="banner_id_3" id="input-banner-3" class="form-control">
								{% for banner in banners %}
									{% if banner.banner_id == banner_id_3 %}
										<option value="{{ banner.banner_id }}" selected="selected">{{ banner.name }}</option>
									{% else %}
										<option value="{{ banner.banner_id }}">{{ banner.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label" for="input-b-type-3">{{ entry_banner_type_1 }}</label>
						<div class="col-sm-10">
							<input type="text" name="b_type_3" value="{{ b_type_3 }}" placeholder="{{ b_type_3 }}" id="input-b-type-3" class="form-control" />
							{% if error_name %}
								<div class="text-danger">{{ error_name }}</div>
							{% endif %}
						</div>
					</div>
                    <ul class="nav nav-tabs" id="language-b-title-3">
						{% for language in languages %}
							<li><a href="#language-b-title-3{{ language.language_id }}" data-toggle="tab">
                                <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
						{% endfor %}
					</ul>
					<div class="tab-content">
						{% for language in languages %}
							<div class="tab-pane" id="language-b-title-3{{ language.language_id }}">
								<div class="form-group">
									<label class="col-sm-2 control-label" 
                                           for="input-title-3{{ language.language_id }}">{{ entry_title_3 }}</label>
									<div class="col-sm-10">
										<input type="text" 
                                               name="b_title_3[{{ language.language_id }}]" 
                                               placeholder="{{ entry_title }}" 
                                               id="input-title-3{{ language.language_id }}" 
                                               value="{{ b_title_3[language.language_id] ? 
                                               b_title_3[language.language_id] }}" 
                                               class="form-control">
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
<!--                 END BANNER 3 -->   
                    
                    <hr>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="status" id="input-status" class="form-control">
								{% if status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript"><!--
	$('#language a:first').tab('show');
	//--></script>
{{ footer }}