{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
							{% if error_name %}
								<div class="text-danger">{{ error_name }}</div>
							{% endif %}
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-special_product">
							{{ entry_special_product }}
						</label>
						<div class="col-sm-10">
							<input type="hidden" name="special_product_id" value="{{ special_product_id }}">
							<input type="text" name="special_product" value="{{ special_product }}" placeholder="{{ entry_special_product }}" id="input-special_product" class="form-control" />
							{% if error_special_product %}
								<div class="text-danger">{{ error_special_product }}</div>
							{% endif %}
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-latest_product">
							{{ entry_latest_product }}
						</label>
						<div class="col-sm-10">
							<input type="hidden" name="latest_product_id" value="{{ latest_product_id }}">
							<input type="text" name="latest_product" value="{{ latest_product }}" placeholder="{{ entry_latest_product }}" id="input-latest_product" class="form-control" />
							{% if error_latest_product %}
								<div class="text-danger">{{ error_latest_product }}</div>
							{% endif %}
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
						<div class="col-sm-10">
							<input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
							{% if error_width %}
								<div class="text-danger">{{ error_width }}</div>
							{% endif %}
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
						<div class="col-sm-10">
							<input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
							{% if error_height %}
								<div class="text-danger">{{ error_height }}</div>
							{% endif %}
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="status" id="input-status" class="form-control">
								{% if status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$('input[name=\'special_product\']').autocomplete({
		'source': function(request, response) {
			$.ajax({
				url: 'index.php?route=catalog/product/autocomplete&user_token=utsGuj5Nu7CsAl3fv15ZCIaSCqd7mhd2&filter_name=' +  encodeURIComponent(request),
				dataType: 'json',
				success: function(json) {
					response($.map(json, function(item) {
						return {
							label: item['name'],
							value: item['product_id']
						}
					}));
				}
			});
		},
		'select': function(item) {
			$('input[name=\'special_product\']').val(item['label']);
			$('input[name=\'special_product_id\']').val(item['value']);
		}
	});
	$('input[name=\'latest_product\']').autocomplete({
		'source': function(request, response) {
			$.ajax({
				url: 'index.php?route=catalog/product/autocomplete&user_token=utsGuj5Nu7CsAl3fv15ZCIaSCqd7mhd2&filter_name=' +  encodeURIComponent(request),
				dataType: 'json',
				success: function(json) {
					response($.map(json, function(item) {
						return {
							label: item['name'],
							value: item['product_id']
						}
					}));
				}
			});
		},
		'select': function(item) {
			$('input[name=\'latest_product\']').val(item['label']);
			$('input[name=\'latest_product_id\']').val(item['value']);
		}
	});
</script>
{{ footer }}
